In [1]:
### Loading Libraries 
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns
import datetime as dt
pd.set_option('display.max_columns', 101)

### Preliminary Data Handling

In [2]:
### Loading in data from Excel file
xls = pd.ExcelFile('Scholastic_AssociateDataScience_CaseStudy_Data.xlsx')
### Loading the seperate sheets of the excel file
mag_df = pd.read_excel(xls, 1)
buil_df = pd.read_excel(xls, 2)
club_df = pd.read_excel(xls, 3)
ed_df = pd.read_excel(xls, 4)

In [3]:
### Checking dimensions of sheets
print(mag_df.shape)
print(buil_df.shape)
print(club_df.shape)
print(ed_df.shape)

(101136, 5)
(51793, 20)
(140349, 3)
(94470, 3)

#### All NA's are from the building dataframe.  Majority of these NA's come from the reading performance and the b_pct columns

In [4]:
### Checking NA's
print(mag_df.isnull().sum())
print(buil_df.isnull().sum())
print(club_df.isnull().sum())
print(ed_df.isnull().sum())

school_year      0
building_id      0
teacher_count    0
paid_quantity    0
order_amount     0
dtype: int64
building_id                         0
mailing_state                       1
enrollment                          0
b_indicator_charter                 0
b_indicator_catholic                0
b_indicator_private                 0
b_indicator_public                  0
reading_performance_grd_3_pct    4672
reading_performance_grd_4_pct    4672
reading_performance_grd_5_pct    4672
reading_performance_grd_6_pct    4672
reading_performance_grd_7_pct    4672
reading_performance_grd_8_pct    4672
b_pct_aa                         4672
b_pct_as                         4672
b_pct_wa                         4672
b_pct_ha                         4672
b_pct_t1                         4672
b_census_hhi                      577
b_census_urbanicity               523
dtype: int64
building_id     0
school_year     0
bookclub_rev    0
dtype: int64
building_id         0
school_year         0
revenue_ed_group    0
dtype: int64

In [5]:
### Joining magazine data sheets to sheet with building information
df = mag_df.merge(buil_df,on='building_id', how = 'left')

In [6]:
### Joining magazine and building data with other revenue data by building id and school_year
df = df.merge(club_df, on = ['building_id', 'school_year'], how = 'left').merge(ed_df, on = ['building_id','school_year'], how = 'left')

In [7]:
### Checking dimensions to ensure proper joins of final dataset
print(df.shape)

(101136, 26)

### Exploratory Data Analysis

In [8]:
### Checking NA's, majority of NA's in revenue_ed_group around ~1/3 data missing
print(df.isnull().sum())

school_year                          0
building_id                          0
teacher_count                        0
paid_quantity                        0
order_amount                         0
mailing_state                      818
enrollment                         818
b_indicator_charter                818
b_indicator_catholic               818
b_indicator_private                818
b_indicator_public                 818
reading_performance_grd_3_pct     3069
reading_performance_grd_4_pct     3069
reading_performance_grd_5_pct     3069
reading_performance_grd_6_pct     3069
reading_performance_grd_7_pct     3069
reading_performance_grd_8_pct     3069
b_pct_aa                          3069
b_pct_as                          3069
b_pct_wa                          3069
b_pct_ha                          3069
b_pct_t1                          3069
b_census_hhi                      1643
b_census_urbanicity               1573
bookclub_rev                      2144
revenue_ed_group                 32582
dtype: int64

#### Exploring the data to find characteristics of buildings that correspond to the most paid quantity decrease (Loss).

In [9]:
### Creating change in paid quantity variable
df['chg_pd_qty'] = df.groupby(['building_id']).paid_quantity.diff().fillna(0)

We see that not all schools have data for all 3 years. Making the assumption that a missing value for a given building and year is a random occurence and does not correspond to a paid quantity of 0.

In [10]:
### Checking new variable
for key, item in df.groupby(['building_id']):
    print(df[['building_id','school_year','chg_pd_qty','paid_quantity']].groupby(['building_id']).get_group(key), "\n\n")

       building_id  school_year  chg_pd_qty  paid_quantity
0        600030153         2017         0.0             61
34157    600030153         2018        40.0            101
67932    600030153         2019       -45.0             56


       building_id  school_year  chg_pd_qty  paid_quantity
1        600030160         2017         0.0            145
34158    600030160         2018        79.0            224
67933    600030160         2019        80.0            304


       building_id  school_year  chg_pd_qty  paid_quantity
67934    600030173         2019         0.0             14


       building_id  school_year  chg_pd_qty  paid_quantity
2        600030189         2017         0.0             68
34159    600030189         2018       -34.0             34
67935    600030189         2019        -2.0             32


       building_id  school_year  chg_pd_qty  paid_quantity
3        600030227         2017         0.0             88
34160    600030227         2018        17.0            105
67936    600030227         2019        26.0            131


   building_id  school_year  chg_pd_qty  paid_quantity
4    600030248         2017         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
5        600030278         2017         0.0            215
34161    600030278         2018       378.0            593
67937    600030278         2019      -502.0             91


       building_id  school_year  chg_pd_qty  paid_quantity
6        600030281         2017         0.0            356
34162    600030281         2018       -59.0            297
67938    600030281         2019      -287.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
34163    600030286         2018         0.0            120
67939    600030286         2019        36.0            156


       building_id  school_year  chg_pd_qty  paid_quantity
7        600030288         2017         0.0            437
34164    600030288         2018       625.0           1062
67940    600030288         2019       -54.0           1008


       building_id  school_year  chg_pd_qty  paid_quantity
8        600030291         2017         0.0           1140
34165    600030291         2018       340.0           1480
67941    600030291         2019     -1260.0            220


       building_id  school_year  chg_pd_qty  paid_quantity
9        600030292         2017         0.0            160
67942    600030292         2019       470.0            630


       building_id  school_year  chg_pd_qty  paid_quantity
10       600030295         2017         0.0            400
34166    600030295         2018      -167.0            233
67943    600030295         2019         7.0            240


       building_id  school_year  chg_pd_qty  paid_quantity
11       600030296         2017         0.0             97
34167    600030296         2018       -17.0             80


       building_id  school_year  chg_pd_qty  paid_quantity
12       600030297         2017         0.0            300
34168    600030297         2018         0.0            300
67944    600030297         2019         0.0            300


       building_id  school_year  chg_pd_qty  paid_quantity
13       600030303         2017         0.0             40
34169    600030303         2018        62.0            102
67945    600030303         2019       151.0            253


    building_id  school_year  chg_pd_qty  paid_quantity
14    600030304         2017         0.0            260


       building_id  school_year  chg_pd_qty  paid_quantity
67946    600030306         2019         0.0             60


       building_id  school_year  chg_pd_qty  paid_quantity
15       600030310         2017         0.0             76
34170    600030310         2018       -13.0             63
67947    600030310         2019       336.0            399


       building_id  school_year  chg_pd_qty  paid_quantity
16       600030316         2017         0.0           1425
34171    600030316         2018       289.0           1714
67948    600030316         2019      -500.0           1214


       building_id  school_year  chg_pd_qty  paid_quantity
17       600030318         2017         0.0            610
34172    600030318         2018       860.0           1470
67949    600030318         2019      -170.0           1300


       building_id  school_year  chg_pd_qty  paid_quantity
18       600030319         2017         0.0            220
34173    600030319         2018         0.0            220
67950    600030319         2019         0.0            220


       building_id  school_year  chg_pd_qty  paid_quantity
19       600030324         2017         0.0            306
34174    600030324         2018        19.0            325
67951    600030324         2019      -315.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
20       600030325         2017         0.0             21
67952    600030325         2019         1.0             22


       building_id  school_year  chg_pd_qty  paid_quantity
21       600030327         2017         0.0            220
34175    600030327         2018       140.0            360
67953    600030327         2019       -80.0            280


       building_id  school_year  chg_pd_qty  paid_quantity
22       600030328         2017         0.0             52
34176    600030328         2018         2.0             54
67954    600030328         2019        -2.0             52


    building_id  school_year  chg_pd_qty  paid_quantity
23    600030330         2017         0.0             45


       building_id  school_year  chg_pd_qty  paid_quantity
24       600030331         2017         0.0            210
34177    600030331         2018       283.0            493
67955    600030331         2019        68.0            561


       building_id  school_year  chg_pd_qty  paid_quantity
34178    600030332         2018         0.0             20
67956    600030332         2019        35.0             55


    building_id  school_year  chg_pd_qty  paid_quantity
25    600030337         2017         0.0             26


       building_id  school_year  chg_pd_qty  paid_quantity
34179    600030347         2018         0.0             23


       building_id  school_year  chg_pd_qty  paid_quantity
34180    600030349         2018         0.0             25
67957    600030349         2019        31.0             56


       building_id  school_year  chg_pd_qty  paid_quantity
26       600030350         2017         0.0            542
34181    600030350         2018        13.0            555
67958    600030350         2019      -228.0            327


       building_id  school_year  chg_pd_qty  paid_quantity
27       600030352         2017         0.0             40
34182    600030352         2018         0.0             40
67959    600030352         2019         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
34183    600030355         2018         0.0            467
67960    600030355         2019       -37.0            430


       building_id  school_year  chg_pd_qty  paid_quantity
28       600030360         2017         0.0            670
34184    600030360         2018         0.0            670


       building_id  school_year  chg_pd_qty  paid_quantity
29       600030364         2017         0.0            429
34185    600030364         2018         4.0            433
67961    600030364         2019      -113.0            320


       building_id  school_year  chg_pd_qty  paid_quantity
34186    600030372         2018         0.0            602
67962    600030372         2019        83.0            685


       building_id  school_year  chg_pd_qty  paid_quantity
30       600030383         2017         0.0            505
34187    600030383         2018        50.0            555
67963    600030383         2019         0.0            555


       building_id  school_year  chg_pd_qty  paid_quantity
31       600030387         2017         0.0             23
67964    600030387         2019       -22.0              1


       building_id  school_year  chg_pd_qty  paid_quantity
32       600030394         2017         0.0            365
34188    600030394         2018       -45.0            320
67965    600030394         2019      -270.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
33       600030408         2017         0.0            828
34189    600030408         2018      -242.0            586
67966    600030408         2019      -486.0            100

       building_id  school_year  chg_pd_qty  paid_quantity
34       600030411         2017         0.0            101
34190    600030411         2018       -11.0             90
67967    600030411         2019       130.0            220


       building_id  school_year  chg_pd_qty  paid_quantity
35       600030412         2017         0.0            100
34191    600030412         2018       -10.0             90
67968    600030412         2019        20.0            110


       building_id  school_year  chg_pd_qty  paid_quantity
36       600030413         2017         0.0            126
34192    600030413         2018       -51.0             75
67969    600030413         2019        20.0             95


       building_id  school_year  chg_pd_qty  paid_quantity
37       600030416         2017         0.0            472
34193    600030416         2018       -26.0            446


       building_id  school_year  chg_pd_qty  paid_quantity
38       600030418         2017         0.0             40
34194    600030418         2018         2.0             42


       building_id  school_year  chg_pd_qty  paid_quantity
39       600030419         2017         0.0             92
34195    600030419         2018        -3.0             89
67970    600030419         2019       163.0            252


       building_id  school_year  chg_pd_qty  paid_quantity
40       600030436         2017         0.0             14
34196    600030436         2018        10.0             24
67971    600030436         2019       177.0            201


       building_id  school_year  chg_pd_qty  paid_quantity
67972    600030440         2019         0.0            388


       building_id  school_year  chg_pd_qty  paid_quantity
67973    600030442         2019         0.0            250


       building_id  school_year  chg_pd_qty  paid_quantity
41       600030456         2017         0.0             25
34197    600030456         2018        95.0            120
67974    600030456         2019         0.0            120


       building_id  school_year  chg_pd_qty  paid_quantity
34198    600030464         2018         0.0              5


    building_id  school_year  chg_pd_qty  paid_quantity
42    600030474         2017         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
67975    600030479         2019         0.0            124


       building_id  school_year  chg_pd_qty  paid_quantity
43       600030482         2017         0.0            744
34199    600030482         2018      -120.0            624
67976    600030482         2019         0.0            624


    building_id  school_year  chg_pd_qty  paid_quantity
44    600030486         2017         0.0             54


       building_id  school_year  chg_pd_qty  paid_quantity
45       600030489         2017         0.0             20
34200    600030489         2018        60.0             80
67977    600030489         2019        40.0            120


       building_id  school_year  chg_pd_qty  paid_quantity
46       600030491         2017         0.0             72
67978    600030491         2019         6.0             78


       building_id  school_year  chg_pd_qty  paid_quantity
47       600030492         2017         0.0             40
34201    600030492         2018        -6.0             34
67979    600030492         2019       -29.0              5


       building_id  school_year  chg_pd_qty  paid_quantity
67980    600030495         2019         0.0              1


       building_id  school_year  chg_pd_qty  paid_quantity
48       600030499         2017         0.0             24
34202    600030499         2018       202.0            226
67981    600030499         2019      -198.0             28


       building_id  school_year  chg_pd_qty  paid_quantity
49       600030504         2017         0.0            170
34203    600030504         2018       -83.0             87
67982    600030504         2019        35.0            122


       building_id  school_year  chg_pd_qty  paid_quantity
50       600030505         2017         0.0             40
34204    600030505         2018        80.0            120


       building_id  school_year  chg_pd_qty  paid_quantity
51       600030506         2017         0.0             60
67983    600030506         2019         4.0             64


       building_id  school_year  chg_pd_qty  paid_quantity
52       600030510         2017         0.0             45
34205    600030510         2018        15.0             60


    building_id  school_year  chg_pd_qty  paid_quantity
53    600030517         2017         0.0             70


       building_id  school_year  chg_pd_qty  paid_quantity
67984    600030523         2019         0.0             44


       building_id  school_year  chg_pd_qty  paid_quantity
54       600030524         2017         0.0            435
34206    600030524         2018        27.0            462
67985    600030524         2019        23.0            485


       building_id  school_year  chg_pd_qty  paid_quantity
55       600030535         2017         0.0             64
34207    600030535         2018        10.0             74


       building_id  school_year  chg_pd_qty  paid_quantity
56       600030540         2017         0.0            108
34208    600030540         2018        -3.0            105
67986    600030540         2019        -9.0             96


       building_id  school_year  chg_pd_qty  paid_quantity
57       600030548         2017         0.0             75
34209    600030548         2018        34.0            109
67987    600030548         2019         8.0            117


       building_id  school_year  chg_pd_qty  paid_quantity
58       600030563         2017         0.0             72
34210    600030563         2018        12.0             84
67988    600030563         2019        20.0            104


       building_id  school_year  chg_pd_qty  paid_quantity
59       600030572         2017         0.0            334
34211    600030572         2018       -84.0            250
67989    600030572         2019        15.0            265


       building_id  school_year  chg_pd_qty  paid_quantity
60       600030573         2017         0.0            129
34212    600030573         2018       256.0            385
67990    600030573         2019       515.0            900


       building_id  school_year  chg_pd_qty  paid_quantity
61       600030574         2017         0.0            164
34213    600030574         2018       -43.0            121
67991    600030574         2019       118.0            239


       building_id  school_year  chg_pd_qty  paid_quantity
62       600030576         2017         0.0            120
34214    600030576         2018        30.0            150


       building_id  school_year  chg_pd_qty  paid_quantity
63       600030578         2017         0.0             13
67992    600030578         2019        14.0             27


       building_id  school_year  chg_pd_qty  paid_quantity
64       600030579         2017         0.0            374
34215    600030579         2018        -3.0            371
67993    600030579         2019       -31.0            340


       building_id  school_year  chg_pd_qty  paid_quantity
34216    600030580         2018         0.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
65       600030584         2017         0.0            415
34217    600030584         2018       -85.0            330
67994    600030584         2019       318.0            648


       building_id  school_year  chg_pd_qty  paid_quantity
66       600030585         2017         0.0             80
34218    600030585         2018         2.0             82
67995    600030585         2019       -25.0             57


       building_id  school_year  chg_pd_qty  paid_quantity
34219    600030590         2018         0.0            145


       building_id  school_year  chg_pd_qty  paid_quantity
67       600030591         2017         0.0             91
34220    600030591         2018        49.0            140


       building_id  school_year  chg_pd_qty  paid_quantity
67996    600030593         2019         0.0             60

       building_id  school_year  chg_pd_qty  paid_quantity
68       600030594         2017         0.0             18
34221    600030594         2018        20.0             38
67997    600030594         2019        -6.0             32


       building_id  school_year  chg_pd_qty  paid_quantity
69       600030595         2017         0.0            190
34222    600030595         2018       -29.0            161
67998    600030595         2019      -101.0             60


    building_id  school_year  chg_pd_qty  paid_quantity
70    600030599         2017         0.0             26


       building_id  school_year  chg_pd_qty  paid_quantity
71       600030601         2017         0.0            169
34223    600030601         2018       -49.0            120
67999    600030601         2019         0.0            120


       building_id  school_year  chg_pd_qty  paid_quantity
72       600030603         2017         0.0            121
34224    600030603         2018        19.0            140
68000    600030603         2019        10.0            150


       building_id  school_year  chg_pd_qty  paid_quantity
73       600030605         2017         0.0             53
34225    600030605         2018       361.0            414
68001    600030605         2019       -14.0            400


       building_id  school_year  chg_pd_qty  paid_quantity
74       600030607         2017         0.0            560
34226    600030607         2018       -91.0            469
68002    600030607         2019       -84.0            385


       building_id  school_year  chg_pd_qty  paid_quantity
75       600030615         2017         0.0            119
34227    600030615         2018       -74.0             45
68003    600030615         2019       -25.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
76       600030616         2017         0.0             42
34228    600030616         2018         2.0             44


    building_id  school_year  chg_pd_qty  paid_quantity
77    600030617         2017         0.0             12


       building_id  school_year  chg_pd_qty  paid_quantity
78       600030626         2017         0.0            260
34229    600030626         2018        29.0            289
68004    600030626         2019       -39.0            250


       building_id  school_year  chg_pd_qty  paid_quantity
68005    600030630         2019         0.0             16


       building_id  school_year  chg_pd_qty  paid_quantity
79       600030633         2017         0.0             50
34230    600030633         2018        62.0            112
68006    600030633         2019        -9.0            103


       building_id  school_year  chg_pd_qty  paid_quantity
68007    600030634         2019         0.0             93


       building_id  school_year  chg_pd_qty  paid_quantity
80       600030639         2017         0.0            257
34231    600030639         2018       196.0            453
68008    600030639         2019         4.0            457


       building_id  school_year  chg_pd_qty  paid_quantity
34232    600030640         2018         0.0             17
68009    600030640         2019        31.0             48


       building_id  school_year  chg_pd_qty  paid_quantity
68010    600030641         2019         0.0             13


       building_id  school_year  chg_pd_qty  paid_quantity
81       600030646         2017         0.0             98
68011    600030646         2019       -50.0             48


       building_id  school_year  chg_pd_qty  paid_quantity
82       600030650         2017         0.0           1320
34233    600030650         2018      -655.0            665


       building_id  school_year  chg_pd_qty  paid_quantity
83       600030651         2017         0.0           1103
34234    600030651         2018      -443.0            660


       building_id  school_year  chg_pd_qty  paid_quantity
84       600030655         2017         0.0             60
34235    600030655         2018        52.0            112
68012    600030655         2019        -4.0            108


       building_id  school_year  chg_pd_qty  paid_quantity
34236    600030656         2018         0.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
85       600030666         2017         0.0            691
34237    600030666         2018      -366.0            325
68013    600030666         2019        42.0            367


    building_id  school_year  chg_pd_qty  paid_quantity
86    600030667         2017         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
87       600030668         2017         0.0            100
34238    600030668         2018       -20.0             80
68014    600030668         2019       -62.0             18


       building_id  school_year  chg_pd_qty  paid_quantity
88       600030676         2017         0.0             25
34239    600030676         2018        -3.0             22
68015    600030676         2019        70.0             92


       building_id  school_year  chg_pd_qty  paid_quantity
89       600030679         2017         0.0            280
34240    600030679         2018      -255.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
90       600030683         2017         0.0            622
34241    600030683         2018        35.0            657
68016    600030683         2019       -88.0            569


       building_id  school_year  chg_pd_qty  paid_quantity
91       600030688         2017         0.0            280
34242    600030688         2018      -155.0            125
68017    600030688         2019       -50.0             75


       building_id  school_year  chg_pd_qty  paid_quantity
92       600030690         2017         0.0            110
34243    600030690         2018       -23.0             87
68018    600030690         2019       166.0            253


       building_id  school_year  chg_pd_qty  paid_quantity
93       600030691         2017         0.0             70
34244    600030691         2018       -29.0             41
68019    600030691         2019        -1.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
94       600030692         2017         0.0            264
34245    600030692         2018         0.0            264
68020    600030692         2019       -56.0            208


       building_id  school_year  chg_pd_qty  paid_quantity
95       600030694         2017         0.0            670
34246    600030694         2018       -17.0            653
68021    600030694         2019       -88.0            565


       building_id  school_year  chg_pd_qty  paid_quantity
96       600030698         2017         0.0             13
34247    600030698         2018         4.0             17
68022    600030698         2019        13.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
97       600030704         2017         0.0            415
34248    600030704         2018        -2.0            413
68023    600030704         2019       181.0            594


       building_id  school_year  chg_pd_qty  paid_quantity
98       600030705         2017         0.0            854
34249    600030705         2018        14.0            868
68024    600030705         2019       -38.0            830


       building_id  school_year  chg_pd_qty  paid_quantity
99       600030709         2017         0.0             25
34250    600030709         2018        41.0             66
68025    600030709         2019       -22.0             44


       building_id  school_year  chg_pd_qty  paid_quantity
100      600030718         2017         0.0             18
34251    600030718         2018        27.0             45
68026    600030718         2019       -25.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
101      600030719         2017         0.0            220
34252    600030719         2018       195.0            415
68027    600030719         2019         5.0            420


       building_id  school_year  chg_pd_qty  paid_quantity
102      600030720         2017         0.0             30
34253    600030720         2018         0.0             30


     building_id  school_year  chg_pd_qty  paid_quantity
103    600030725         2017         0.0             22


       building_id  school_year  chg_pd_qty  paid_quantity
104      600030729         2017         0.0            473
34254    600030729         2018        80.0            553
68028    600030729         2019       177.0            730

       building_id  school_year  chg_pd_qty  paid_quantity
105      600030730         2017         0.0             23
34255    600030730         2018        34.0             57
68029    600030730         2019        31.0             88


       building_id  school_year  chg_pd_qty  paid_quantity
106      600030733         2017         0.0             47
34256    600030733         2018       107.0            154
68030    600030733         2019       -92.0             62


       building_id  school_year  chg_pd_qty  paid_quantity
107      600030737         2017         0.0            250
34257    600030737         2018      -180.0             70
68031    600030737         2019        51.0            121


       building_id  school_year  chg_pd_qty  paid_quantity
108      600030738         2017         0.0             85
34258    600030738         2018       -75.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
109      600030740         2017         0.0            323
34259    600030740         2018        72.0            395
68032    600030740         2019        68.0            463


     building_id  school_year  chg_pd_qty  paid_quantity
110    600030745         2017         0.0            690


       building_id  school_year  chg_pd_qty  paid_quantity
111      600030749         2017         0.0            551
34260    600030749         2018      -206.0            345
68033    600030749         2019        20.0            365


     building_id  school_year  chg_pd_qty  paid_quantity
112    600030751         2017         0.0             22


       building_id  school_year  chg_pd_qty  paid_quantity
113      600030755         2017         0.0            120
34261    600030755         2018       -99.0             21
68034    600030755         2019        88.0            109


       building_id  school_year  chg_pd_qty  paid_quantity
114      600030759         2017         0.0             22
34262    600030759         2018        56.0             78
68035    600030759         2019        65.0            143


       building_id  school_year  chg_pd_qty  paid_quantity
115      600030760         2017         0.0            167
34263    600030760         2018       -20.0            147
68036    600030760         2019       -78.0             69


       building_id  school_year  chg_pd_qty  paid_quantity
68037    600030761         2019         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
116      600030764         2017         0.0            865
34264    600030764         2018      -290.0            575
68038    600030764         2019        85.0            660


     building_id  school_year  chg_pd_qty  paid_quantity
117    600030768         2017         0.0            475


       building_id  school_year  chg_pd_qty  paid_quantity
118      600030772         2017         0.0            188
34265    600030772         2018        14.0            202
68039    600030772         2019        27.0            229


       building_id  school_year  chg_pd_qty  paid_quantity
119      600030779         2017         0.0             43
34266    600030779         2018       -29.0             14
68040    600030779         2019        70.0             84


       building_id  school_year  chg_pd_qty  paid_quantity
120      600030793         2017         0.0            108
34267    600030793         2018       140.0            248
68041    600030793         2019       -46.0            202


       building_id  school_year  chg_pd_qty  paid_quantity
121      600030796         2017         0.0             30
34268    600030796         2018       -10.0             20
68042    600030796         2019        -8.0             12


       building_id  school_year  chg_pd_qty  paid_quantity
122      600030799         2017         0.0            440
34269    600030799         2018         1.0            441
68043    600030799         2019        22.0            463


       building_id  school_year  chg_pd_qty  paid_quantity
123      600030801         2017         0.0            231
34270    600030801         2018        69.0            300
68044    600030801         2019         0.0            300


       building_id  school_year  chg_pd_qty  paid_quantity
124      600030804         2017         0.0             60
34271    600030804         2018        12.0             72


       building_id  school_year  chg_pd_qty  paid_quantity
125      600030805         2017         0.0            312
34272    600030805         2018       142.0            454
68045    600030805         2019       -20.0            434


       building_id  school_year  chg_pd_qty  paid_quantity
126      600030807         2017         0.0            405
34273    600030807         2018      -395.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
34274    600030809         2018         0.0             45
68046    600030809         2019       -13.0             32


       building_id  school_year  chg_pd_qty  paid_quantity
127      600030812         2017         0.0            170
34275    600030812         2018      -149.0             21
68047    600030812         2019         4.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
34276    600030813         2018         0.0            290
68048    600030813         2019      -205.0             85


       building_id  school_year  chg_pd_qty  paid_quantity
68049    600030814         2019         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
128      600030815         2017         0.0            440
34277    600030815         2018        25.0            465
68050    600030815         2019       718.0           1183


     building_id  school_year  chg_pd_qty  paid_quantity
129    600030816         2017         0.0             11


       building_id  school_year  chg_pd_qty  paid_quantity
130      600030817         2017         0.0             42
34278    600030817         2018         2.0             44
68051    600030817         2019       -12.0             32


       building_id  school_year  chg_pd_qty  paid_quantity
34279    600030820         2018         0.0             26


       building_id  school_year  chg_pd_qty  paid_quantity
131      600030822         2017         0.0             24
34280    600030822         2018        98.0            122
68052    600030822         2019       530.0            652


       building_id  school_year  chg_pd_qty  paid_quantity
132      600030824         2017         0.0             94
34281    600030824         2018       115.0            209
68053    600030824         2019       237.0            446


       building_id  school_year  chg_pd_qty  paid_quantity
133      600030826         2017         0.0            204
34282    600030826         2018        16.0            220
68054    600030826         2019       193.0            413


       building_id  school_year  chg_pd_qty  paid_quantity
34283    600030827         2018         0.0             50
68055    600030827         2019        22.0             72


       building_id  school_year  chg_pd_qty  paid_quantity
134      600030828         2017         0.0            315
68056    600030828         2019      -275.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
135      600030830         2017         0.0            140
34284    600030830         2018         0.0            140


     building_id  school_year  chg_pd_qty  paid_quantity
136    600030831         2017         0.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
137      600030834         2017         0.0            174
34285    600030834         2018       -14.0            160
68057    600030834         2019       113.0            273


       building_id  school_year  chg_pd_qty  paid_quantity
138      600030835         2017         0.0            130
68058    600030835         2019       -78.0             52


     building_id  school_year  chg_pd_qty  paid_quantity
139    600030838         2017         0.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
140      600030842         2017         0.0            105
34286    600030842         2018        39.0            144
68059    600030842         2019        39.0            183


     building_id  school_year  chg_pd_qty  paid_quantity
141    600030843         2017         0.0             28


       building_id  school_year  chg_pd_qty  paid_quantity
142      600030849         2017         0.0             24
34287    600030849         2018        28.0             52
68060    600030849         2019       -34.0             18

       building_id  school_year  chg_pd_qty  paid_quantity
143      600030851         2017         0.0            397
34288    600030851         2018       116.0            513
68061    600030851         2019       -59.0            454


       building_id  school_year  chg_pd_qty  paid_quantity
144      600030852         2017         0.0             40
34289    600030852         2018        20.0             60
68062    600030852         2019        41.0            101


       building_id  school_year  chg_pd_qty  paid_quantity
145      600030853         2017         0.0            165
34290    600030853         2018       -21.0            144
68063    600030853         2019        68.0            212


       building_id  school_year  chg_pd_qty  paid_quantity
34291    600030862         2018         0.0             16
68064    600030862         2019         4.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
146      600030873         2017         0.0            122
34292    600030873         2018       -48.0             74
68065    600030873         2019       -37.0             37


       building_id  school_year  chg_pd_qty  paid_quantity
147      600030876         2017         0.0            457
34293    600030876         2018      -188.0            269
68066    600030876         2019         0.0            269


       building_id  school_year  chg_pd_qty  paid_quantity
148      600030879         2017         0.0            165
34294    600030879         2018      -162.0              3
68067    600030879         2019        -2.0              1


       building_id  school_year  chg_pd_qty  paid_quantity
149      600030881         2017         0.0              2
68068    600030881         2019       432.0            434


       building_id  school_year  chg_pd_qty  paid_quantity
150      600030885         2017         0.0            135
34295    600030885         2018         9.0            144
68069    600030885         2019        33.0            177


       building_id  school_year  chg_pd_qty  paid_quantity
68070    600030888         2019         0.0             18


       building_id  school_year  chg_pd_qty  paid_quantity
34296    600030891         2018         0.0             31
68071    600030891         2019        55.0             86


       building_id  school_year  chg_pd_qty  paid_quantity
151      600030894         2017         0.0            306
34297    600030894         2018       -73.0            233
68072    600030894         2019      -101.0            132


       building_id  school_year  chg_pd_qty  paid_quantity
34298    600030895         2018         0.0            420
68073    600030895         2019      -160.0            260


       building_id  school_year  chg_pd_qty  paid_quantity
34299    600030896         2018         0.0            710
68074    600030896         2019       102.0            812


       building_id  school_year  chg_pd_qty  paid_quantity
152      600030903         2017         0.0             40
68075    600030903         2019         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
153      600030912         2017         0.0             29
34300    600030912         2018        29.0             58
68076    600030912         2019       142.0            200


       building_id  school_year  chg_pd_qty  paid_quantity
154      600030920         2017         0.0             10
68077    600030920         2019        -9.0              1


       building_id  school_year  chg_pd_qty  paid_quantity
155      600030925         2017         0.0             69
34301    600030925         2018        52.0            121
68078    600030925         2019       -70.0             51


       building_id  school_year  chg_pd_qty  paid_quantity
156      600030929         2017         0.0            140
34302    600030929         2018       -90.0             50
68079    600030929         2019       -47.0              3


       building_id  school_year  chg_pd_qty  paid_quantity
157      600030931         2017         0.0            156
34303    600030931         2018       129.0            285
68080    600030931         2019       164.0            449


       building_id  school_year  chg_pd_qty  paid_quantity
158      600030935         2017         0.0            296
34304    600030935         2018       -21.0            275
68081    600030935         2019       -53.0            222


       building_id  school_year  chg_pd_qty  paid_quantity
159      600030937         2017         0.0            107
34305    600030937         2018       192.0            299
68082    600030937         2019      -106.0            193


       building_id  school_year  chg_pd_qty  paid_quantity
68083    600030943         2019         0.0             36


       building_id  school_year  chg_pd_qty  paid_quantity
160      600030946         2017         0.0             40
34306    600030946         2018        35.0             75
68084    600030946         2019       -35.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
161      600030948         2017         0.0             68
68085    600030948         2019       -42.0             26


       building_id  school_year  chg_pd_qty  paid_quantity
162      600030954         2017         0.0            100
34307    600030954         2018        20.0            120
68086    600030954         2019       120.0            240


       building_id  school_year  chg_pd_qty  paid_quantity
163      600030959         2017         0.0            150
34308    600030959         2018       290.0            440
68087    600030959         2019       -49.0            391


       building_id  school_year  chg_pd_qty  paid_quantity
34309    600030960         2018         0.0             17
68088    600030960         2019         1.0             18


       building_id  school_year  chg_pd_qty  paid_quantity
164      600030961         2017         0.0            240
34310    600030961         2018      -105.0            135
68089    600030961         2019       147.0            282


       building_id  school_year  chg_pd_qty  paid_quantity
165      600030963         2017         0.0            368
34311    600030963         2018       232.0            600
68090    600030963         2019      -416.0            184


       building_id  school_year  chg_pd_qty  paid_quantity
166      600030965         2017         0.0             20
34312    600030965         2018         0.0             20
68091    600030965         2019         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
167      600030966         2017         0.0           1380
34313    600030966         2018     -1360.0             20
68092    600030966         2019       211.0            231


       building_id  school_year  chg_pd_qty  paid_quantity
168      600030973         2017         0.0            134
34314    600030973         2018       -49.0             85
68093    600030973         2019       129.0            214


       building_id  school_year  chg_pd_qty  paid_quantity
169      600030980         2017         0.0             40
34315    600030980         2018         0.0             40
68094    600030980         2019        -9.0             31


       building_id  school_year  chg_pd_qty  paid_quantity
170      600030981         2017         0.0            200
34316    600030981         2018        12.0            212
68095    600030981         2019       -92.0            120


       building_id  school_year  chg_pd_qty  paid_quantity
68096    600030983         2019         0.0              2


       building_id  school_year  chg_pd_qty  paid_quantity
171      600030987         2017         0.0            450
68097    600030987         2019      -150.0            300


       building_id  school_year  chg_pd_qty  paid_quantity
68098    600030989         2019         0.0             23


       building_id  school_year  chg_pd_qty  paid_quantity
172      600030993         2017         0.0            630
34317    600030993         2018       -28.0            602
68099    600030993         2019      -392.0            210

       building_id  school_year  chg_pd_qty  paid_quantity
173      600030995         2017         0.0           1202
34318    600030995         2018       -72.0           1130
68100    600030995         2019      -265.0            865


       building_id  school_year  chg_pd_qty  paid_quantity
174      600030997         2017         0.0            100
34319    600030997         2018       -44.0             56
68101    600030997         2019        -6.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
175      600031000         2017         0.0            688
34320    600031000         2018       -24.0            664
68102    600031000         2019      -136.0            528


       building_id  school_year  chg_pd_qty  paid_quantity
176      600031001         2017         0.0            900
34321    600031001         2018        10.0            910
68103    600031001         2019        10.0            920


     building_id  school_year  chg_pd_qty  paid_quantity
177    600031003         2017         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
34322    600031019         2018         0.0             21
68104    600031019         2019       374.0            395


       building_id  school_year  chg_pd_qty  paid_quantity
34323    600031022         2018         0.0             35


     building_id  school_year  chg_pd_qty  paid_quantity
178    600031025         2017         0.0             58


       building_id  school_year  chg_pd_qty  paid_quantity
34324    600031026         2018         0.0             54
68105    600031026         2019       -13.0             41


     building_id  school_year  chg_pd_qty  paid_quantity
179    600031035         2017         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
180      600031039         2017         0.0            460
68106    600031039         2019      -410.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
181      600031044         2017         0.0             10
34325    600031044         2018        20.0             30
68107    600031044         2019        -5.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
182      600031055         2017         0.0            283
34326    600031055         2018       320.0            603
68108    600031055         2019      -259.0            344


       building_id  school_year  chg_pd_qty  paid_quantity
34327    600031058         2018         0.0             44


       building_id  school_year  chg_pd_qty  paid_quantity
68109    600031059         2019         0.0             56


       building_id  school_year  chg_pd_qty  paid_quantity
183      600031064         2017         0.0            545
34328    600031064         2018      -520.0             25
68110    600031064         2019        25.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
184      600031065         2017         0.0            212
34329    600031065         2018       -14.0            198
68111    600031065         2019         5.0            203


       building_id  school_year  chg_pd_qty  paid_quantity
185      600031066         2017         0.0             70
34330    600031066         2018       -60.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
68112    600031070         2019         0.0            130


       building_id  school_year  chg_pd_qty  paid_quantity
186      600031072         2017         0.0            942
34331    600031072         2018        -6.0            936
68113    600031072         2019        -4.0            932


       building_id  school_year  chg_pd_qty  paid_quantity
68114    600031079         2019         0.0            100


       building_id  school_year  chg_pd_qty  paid_quantity
187      600031080         2017         0.0            100
34332    600031080         2018         0.0            100


       building_id  school_year  chg_pd_qty  paid_quantity
188      600031085         2017         0.0             66
68115    600031085         2019        62.0            128


       building_id  school_year  chg_pd_qty  paid_quantity
34333    600031091         2018         0.0             12


       building_id  school_year  chg_pd_qty  paid_quantity
68116    600031094         2019         0.0              2


       building_id  school_year  chg_pd_qty  paid_quantity
189      600031095         2017         0.0            200
34334    600031095         2018        30.0            230
68117    600031095         2019       170.0            400


     building_id  school_year  chg_pd_qty  paid_quantity
190    600031098         2017         0.0            270


       building_id  school_year  chg_pd_qty  paid_quantity
191      600031107         2017         0.0            284
34335    600031107         2018       -16.0            268
68118    600031107         2019         8.0            276


       building_id  school_year  chg_pd_qty  paid_quantity
192      600031109         2017         0.0            545
34336    600031109         2018       150.0            695
68119    600031109         2019      -481.0            214


       building_id  school_year  chg_pd_qty  paid_quantity
193      600031110         2017         0.0            168
34337    600031110         2018         5.0            173
68120    600031110         2019        61.0            234


       building_id  school_year  chg_pd_qty  paid_quantity
194      600031111         2017         0.0            519
34338    600031111         2018        43.0            562
68121    600031111         2019       -31.0            531


       building_id  school_year  chg_pd_qty  paid_quantity
195      600031112         2017         0.0             43
34339    600031112         2018       -23.0             20
68122    600031112         2019       162.0            182


       building_id  school_year  chg_pd_qty  paid_quantity
196      600031115         2017         0.0            394
34340    600031115         2018       -28.0            366
68123    600031115         2019       -26.0            340


       building_id  school_year  chg_pd_qty  paid_quantity
34341    600031117         2018         0.0              2
68124    600031117         2019         0.0              2


       building_id  school_year  chg_pd_qty  paid_quantity
197      600031120         2017         0.0             99
34342    600031120         2018         2.0            101
68125    600031120         2019        13.0            114


       building_id  school_year  chg_pd_qty  paid_quantity
198      600031122         2017         0.0            460
34343    600031122         2018         0.0            460
68126    600031122         2019         5.0            465


       building_id  school_year  chg_pd_qty  paid_quantity
199      600031123         2017         0.0            354
34344    600031123         2018        18.0            372
68127    600031123         2019         0.0            372


       building_id  school_year  chg_pd_qty  paid_quantity
200      600031124         2017         0.0            588
34345    600031124         2018       113.0            701
68128    600031124         2019       -50.0            651


       building_id  school_year  chg_pd_qty  paid_quantity
201      600031127         2017         0.0            451
34346    600031127         2018        -1.0            450
68129    600031127         2019         0.0            450


       building_id  school_year  chg_pd_qty  paid_quantity
202      600031130         2017         0.0            585
34347    600031130         2018       -15.0            570
68130    600031130         2019        20.0            590


       building_id  school_year  chg_pd_qty  paid_quantity
203      600031137         2017         0.0              5
34348    600031137         2018        15.0             20
68131    600031137         2019         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
204      600031144         2017         0.0            255
34349    600031144         2018        51.0            306
68132    600031144         2019       396.0            702


       building_id  school_year  chg_pd_qty  paid_quantity
205      600031146         2017         0.0           1020
34350    600031146         2018      -780.0            240
68133    600031146         2019         0.0            240


       building_id  school_year  chg_pd_qty  paid_quantity
206      600031147         2017         0.0            674
34351    600031147         2018      -594.0             80
68134    600031147         2019        34.0            114

       building_id  school_year  chg_pd_qty  paid_quantity
207      600031149         2017         0.0            927
34352    600031149         2018      -395.0            532
68135    600031149         2019        92.0            624


       building_id  school_year  chg_pd_qty  paid_quantity
208      600031151         2017         0.0            175
34353    600031151         2018       -25.0            150
68136    600031151         2019        30.0            180


       building_id  school_year  chg_pd_qty  paid_quantity
209      600031156         2017         0.0            100
34354    600031156         2018        56.0            156


       building_id  school_year  chg_pd_qty  paid_quantity
68137    600031159         2019         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
210      600031164         2017         0.0             25
34355    600031164         2018         0.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
211      600031166         2017         0.0             74
34356    600031166         2018        86.0            160
68138    600031166         2019         0.0            160


       building_id  school_year  chg_pd_qty  paid_quantity
34357    600031172         2018         0.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
212      600031176         2017         0.0             40
34358    600031176         2018       -20.0             20
68139    600031176         2019        44.0             64


     building_id  school_year  chg_pd_qty  paid_quantity
213    600031178         2017         0.0             32


       building_id  school_year  chg_pd_qty  paid_quantity
214      600031179         2017         0.0            284
34359    600031179         2018       195.0            479
68140    600031179         2019      -257.0            222


       building_id  school_year  chg_pd_qty  paid_quantity
68141    600031180         2019         0.0             21


       building_id  school_year  chg_pd_qty  paid_quantity
215      600031184         2017         0.0             32
34360    600031184         2018        26.0             58
68142    600031184         2019        -1.0             57


       building_id  school_year  chg_pd_qty  paid_quantity
216      600031187         2017         0.0            492
34361    600031187         2018       428.0            920
68143    600031187         2019         0.0            920


       building_id  school_year  chg_pd_qty  paid_quantity
34362    600031189         2018         0.0            600
68144    600031189         2019      -160.0            440


       building_id  school_year  chg_pd_qty  paid_quantity
217      600031193         2017         0.0            218
34363    600031193         2018         1.0            219
68145    600031193         2019      -207.0             12


       building_id  school_year  chg_pd_qty  paid_quantity
218      600031196         2017         0.0            228
68146    600031196         2019      -150.0             78


     building_id  school_year  chg_pd_qty  paid_quantity
219    600031197         2017         0.0             60


       building_id  school_year  chg_pd_qty  paid_quantity
220      600031199         2017         0.0            132
34364    600031199         2018       -76.0             56


       building_id  school_year  chg_pd_qty  paid_quantity
221      600031200         2017         0.0             76
34365    600031200         2018       -40.0             36
68147    600031200         2019        10.0             46


       building_id  school_year  chg_pd_qty  paid_quantity
222      600031208         2017         0.0            552
34366    600031208         2018       -46.0            506
68148    600031208         2019       -22.0            484


       building_id  school_year  chg_pd_qty  paid_quantity
223      600031211         2017         0.0            522
34367    600031211         2018       110.0            632
68149    600031211         2019      -252.0            380


       building_id  school_year  chg_pd_qty  paid_quantity
224      600031214         2017         0.0            557
34368    600031214         2018      -194.0            363
68150    600031214         2019      -204.0            159


       building_id  school_year  chg_pd_qty  paid_quantity
225      600031215         2017         0.0            562
34369    600031215         2018       -22.0            540
68151    600031215         2019        35.0            575


       building_id  school_year  chg_pd_qty  paid_quantity
226      600031220         2017         0.0            441
34370    600031220         2018      -183.0            258
68152    600031220         2019       -36.0            222


       building_id  school_year  chg_pd_qty  paid_quantity
227      600031221         2017         0.0           2075
34371    600031221         2018     -1075.0           1000


       building_id  school_year  chg_pd_qty  paid_quantity
228      600031223         2017         0.0           1336
34372    600031223         2018       -48.0           1288
68153    600031223         2019       126.0           1414


       building_id  school_year  chg_pd_qty  paid_quantity
68154    600031224         2019         0.0             60


       building_id  school_year  chg_pd_qty  paid_quantity
229      600031226         2017         0.0            187
34373    600031226         2018         2.0            189
68155    600031226         2019         0.0            189


       building_id  school_year  chg_pd_qty  paid_quantity
230      600031233         2017         0.0            188
34374    600031233         2018      -121.0             67
68156    600031233         2019        24.0             91


       building_id  school_year  chg_pd_qty  paid_quantity
231      600031238         2017         0.0            345
34375    600031238         2018        30.0            375
68157    600031238         2019        26.0            401


       building_id  school_year  chg_pd_qty  paid_quantity
232      600031247         2017         0.0             46
34376    600031247         2018        -1.0             45
68158    600031247         2019       106.0            151


       building_id  school_year  chg_pd_qty  paid_quantity
34377    600031249         2018         0.0            320
68159    600031249         2019      -269.0             51


       building_id  school_year  chg_pd_qty  paid_quantity
233      600031251         2017         0.0             63
34378    600031251         2018       -47.0             16
68160    600031251         2019        -1.0             15


       building_id  school_year  chg_pd_qty  paid_quantity
234      600031256         2017         0.0             75
34379    600031256         2018       300.0            375
68161    600031256         2019        15.0            390


       building_id  school_year  chg_pd_qty  paid_quantity
34380    600031264         2018         0.0            733
68162    600031264         2019      -612.0            121


       building_id  school_year  chg_pd_qty  paid_quantity
34381    600031272         2018         0.0            350
68163    600031272         2019         0.0            350


       building_id  school_year  chg_pd_qty  paid_quantity
34382    600031275         2018         0.0             86
68164    600031275         2019       224.0            310


       building_id  school_year  chg_pd_qty  paid_quantity
235      600031278         2017         0.0            260
34383    600031278         2018       -24.0            236
68165    600031278         2019        10.0            246


       building_id  school_year  chg_pd_qty  paid_quantity
34384    600031283         2018         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
34385    600031284         2018         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
34386    600031287         2018         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
34387    600031288         2018         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
34388    600031289         2018         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
236      600031294         2017         0.0             40
34389    600031294         2018         0.0             40

       building_id  school_year  chg_pd_qty  paid_quantity
34390    600031295         2018         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
237      600031297         2017         0.0              4
34391    600031297         2018        60.0             64
68166    600031297         2019       -46.0             18


     building_id  school_year  chg_pd_qty  paid_quantity
238    600031300         2017         0.0            110


     building_id  school_year  chg_pd_qty  paid_quantity
239    600031302         2017         0.0             76


       building_id  school_year  chg_pd_qty  paid_quantity
34392    600031303         2018         0.0             72


       building_id  school_year  chg_pd_qty  paid_quantity
240      600031304         2017         0.0            573
34393    600031304         2018      -178.0            395
68167    600031304         2019      -135.0            260


       building_id  school_year  chg_pd_qty  paid_quantity
241      600031305         2017         0.0            104
34394    600031305         2018       -80.0             24


       building_id  school_year  chg_pd_qty  paid_quantity
242      600031306         2017         0.0            195
34395    600031306         2018       -20.0            175
68168    600031306         2019        60.0            235


       building_id  school_year  chg_pd_qty  paid_quantity
243      600031308         2017         0.0            558
34396    600031308         2018       -78.0            480
68169    600031308         2019        14.0            494


       building_id  school_year  chg_pd_qty  paid_quantity
68170    600031310         2019         0.0            225


       building_id  school_year  chg_pd_qty  paid_quantity
244      600031311         2017         0.0            280
34397    600031311         2018       -90.0            190
68171    600031311         2019        10.0            200


       building_id  school_year  chg_pd_qty  paid_quantity
245      600031318         2017         0.0            100
34398    600031318         2018       -24.0             76
68172    600031318         2019       124.0            200


       building_id  school_year  chg_pd_qty  paid_quantity
246      600031319         2017         0.0            160
34399    600031319         2018         0.0            160
68173    600031319         2019         0.0            160


       building_id  school_year  chg_pd_qty  paid_quantity
247      600031320         2017         0.0            224
34400    600031320         2018        27.0            251
68174    600031320         2019       135.0            386


       building_id  school_year  chg_pd_qty  paid_quantity
248      600031321         2017         0.0            104
34401    600031321         2018        76.0            180
68175    600031321         2019       -70.0            110


       building_id  school_year  chg_pd_qty  paid_quantity
34402    600031324         2018         0.0            217
68176    600031324         2019       -79.0            138


       building_id  school_year  chg_pd_qty  paid_quantity
68177    600031325         2019         0.0             18


       building_id  school_year  chg_pd_qty  paid_quantity
249      600031327         2017         0.0           1280
34403    600031327         2018       277.0           1557
68178    600031327         2019      -592.0            965


       building_id  school_year  chg_pd_qty  paid_quantity
250      600031328         2017         0.0             66
34404    600031328         2018       242.0            308
68179    600031328         2019        85.0            393


       building_id  school_year  chg_pd_qty  paid_quantity
251      600031331         2017         0.0            156
34405    600031331         2018        84.0            240
68180    600031331         2019       -90.0            150


       building_id  school_year  chg_pd_qty  paid_quantity
68181    600031348         2019         0.0             85


       building_id  school_year  chg_pd_qty  paid_quantity
34406    600031349         2018         0.0             14
68182    600031349         2019         4.0             18


       building_id  school_year  chg_pd_qty  paid_quantity
34407    600031356         2018         0.0             93
68183    600031356         2019       -18.0             75


       building_id  school_year  chg_pd_qty  paid_quantity
252      600031358         2017         0.0             80
34408    600031358         2018        -6.0             74
68184    600031358         2019         6.0             80


       building_id  school_year  chg_pd_qty  paid_quantity
34409    600031409         2018         0.0            399
68185    600031409         2019       -89.0            310


       building_id  school_year  chg_pd_qty  paid_quantity
253      600031417         2017         0.0            124
34410    600031417         2018       -66.0             58
68186    600031417         2019         7.0             65


       building_id  school_year  chg_pd_qty  paid_quantity
254      600031419         2017         0.0             44
34411    600031419         2018        62.0            106
68187    600031419         2019       -36.0             70


       building_id  school_year  chg_pd_qty  paid_quantity
34412    600031424         2018         0.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
255      600031425         2017         0.0             76
34413    600031425         2018        -6.0             70
68188    600031425         2019        20.0             90


       building_id  school_year  chg_pd_qty  paid_quantity
256      600031428         2017         0.0            157
34414    600031428         2018      -106.0             51
68189    600031428         2019       120.0            171


       building_id  school_year  chg_pd_qty  paid_quantity
257      600031429         2017         0.0            212
34415    600031429         2018       -75.0            137
68190    600031429         2019       -16.0            121


       building_id  school_year  chg_pd_qty  paid_quantity
34416    600031430         2018         0.0             78
68191    600031430         2019       -58.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
258      600031434         2017         0.0             12
34417    600031434         2018         0.0             12
68192    600031434         2019         0.0             12


       building_id  school_year  chg_pd_qty  paid_quantity
259      600031436         2017         0.0             30
34418    600031436         2018         0.0             30
68193    600031436         2019        21.0             51


       building_id  school_year  chg_pd_qty  paid_quantity
260      600031439         2017         0.0            280
34419    600031439         2018       -77.0            203
68194    600031439         2019        57.0            260


       building_id  school_year  chg_pd_qty  paid_quantity
261      600031441         2017         0.0            116
34420    600031441         2018       -84.0             32


       building_id  school_year  chg_pd_qty  paid_quantity
262      600031443         2017         0.0            162
34421    600031443         2018       -60.0            102


       building_id  school_year  chg_pd_qty  paid_quantity
263      600031445         2017         0.0            314
34422    600031445         2018      -202.0            112
68195    600031445         2019       -28.0             84


       building_id  school_year  chg_pd_qty  paid_quantity
264      600031448         2017         0.0            102
34423    600031448         2018       -38.0             64
68196    600031448         2019        12.0             76


       building_id  school_year  chg_pd_qty  paid_quantity
265      600031449         2017         0.0            145
68197    600031449         2019       -97.0             48


       building_id  school_year  chg_pd_qty  paid_quantity
266      600031451         2017         0.0             28
34424    600031451         2018       128.0            156
68198    600031451         2019       -68.0             88

       building_id  school_year  chg_pd_qty  paid_quantity
267      600031453         2017         0.0             90
34425    600031453         2018       -29.0             61
68199    600031453         2019       -33.0             28


       building_id  school_year  chg_pd_qty  paid_quantity
268      600031455         2017         0.0             16
34426    600031455         2018         0.0             16


       building_id  school_year  chg_pd_qty  paid_quantity
269      600031456         2017         0.0             50
34427    600031456         2018         0.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
34428    600031457         2018         0.0             13


       building_id  school_year  chg_pd_qty  paid_quantity
270      600031458         2017         0.0            324
34429    600031458         2018       -27.0            297
68200    600031458         2019        -8.0            289


       building_id  school_year  chg_pd_qty  paid_quantity
271      600031460         2017         0.0            110
34430    600031460         2018        50.0            160
68201    600031460         2019       -80.0             80


       building_id  school_year  chg_pd_qty  paid_quantity
272      600031461         2017         0.0            266
34431    600031461         2018      -126.0            140
68202    600031461         2019        -2.0            138


       building_id  school_year  chg_pd_qty  paid_quantity
273      600031462         2017         0.0            786
34432    600031462         2018      -109.0            677
68203    600031462         2019        77.0            754


       building_id  school_year  chg_pd_qty  paid_quantity
34433    600031464         2018         0.0             50
68204    600031464         2019         0.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
274      600031466         2017         0.0            305
34434    600031466         2018      -189.0            116
68205    600031466         2019        31.0            147


       building_id  school_year  chg_pd_qty  paid_quantity
275      600031468         2017         0.0            475
34435    600031468         2018       136.0            611
68206    600031468         2019      -173.0            438


       building_id  school_year  chg_pd_qty  paid_quantity
276      600031470         2017         0.0             21
34436    600031470         2018       -20.0              1


       building_id  school_year  chg_pd_qty  paid_quantity
277      600031473         2017         0.0            150
34437    600031473         2018       -45.0            105
68207    600031473         2019       -52.0             53


     building_id  school_year  chg_pd_qty  paid_quantity
278    600031476         2017         0.0             20


     building_id  school_year  chg_pd_qty  paid_quantity
279    600031477         2017         0.0             28


       building_id  school_year  chg_pd_qty  paid_quantity
34438    600031478         2018         0.0             56


       building_id  school_year  chg_pd_qty  paid_quantity
280      600031482         2017         0.0            265
34439    600031482         2018      -155.0            110
68208    600031482         2019         0.0            110


       building_id  school_year  chg_pd_qty  paid_quantity
281      600031484         2017         0.0             75
34440    600031484         2018         0.0             75
68209    600031484         2019         4.0             79


       building_id  school_year  chg_pd_qty  paid_quantity
68210    600031486         2019         0.0             24


       building_id  school_year  chg_pd_qty  paid_quantity
282      600031488         2017         0.0             90
68211    600031488         2019       -62.0             28


     building_id  school_year  chg_pd_qty  paid_quantity
283    600031491         2017         0.0             32


       building_id  school_year  chg_pd_qty  paid_quantity
34441    600031492         2018         0.0             31


       building_id  school_year  chg_pd_qty  paid_quantity
284      600031514         2017         0.0            225
34442    600031514         2018       -32.0            193
68212    600031514         2019       -48.0            145


       building_id  school_year  chg_pd_qty  paid_quantity
285      600031515         2017         0.0            126
34443    600031515         2018       -25.0            101
68213    600031515         2019        63.0            164


       building_id  school_year  chg_pd_qty  paid_quantity
286      600031517         2017         0.0            116
34444    600031517         2018       -15.0            101
68214    600031517         2019         8.0            109


       building_id  school_year  chg_pd_qty  paid_quantity
287      600031519         2017         0.0             28
34445    600031519         2018        -8.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
288      600031522         2017         0.0            167
34446    600031522         2018       -17.0            150
68215    600031522         2019        28.0            178


       building_id  school_year  chg_pd_qty  paid_quantity
289      600031526         2017         0.0            309
34447    600031526         2018       -15.0            294
68216    600031526         2019        47.0            341


       building_id  school_year  chg_pd_qty  paid_quantity
290      600031531         2017         0.0            295
34448    600031531         2018        55.0            350
68217    600031531         2019        50.0            400


       building_id  school_year  chg_pd_qty  paid_quantity
291      600031535         2017         0.0            275
34449    600031535         2018       100.0            375
68218    600031535         2019       -50.0            325


       building_id  school_year  chg_pd_qty  paid_quantity
292      600031537         2017         0.0             60
34450    600031537         2018        -5.0             55
68219    600031537         2019        95.0            150


       building_id  school_year  chg_pd_qty  paid_quantity
293      600031551         2017         0.0            285
34451    600031551         2018         0.0            285
68220    600031551         2019        20.0            305


       building_id  school_year  chg_pd_qty  paid_quantity
294      600031560         2017         0.0            200
34452    600031560         2018         0.0            200
68221    600031560         2019        50.0            250


       building_id  school_year  chg_pd_qty  paid_quantity
295      600031581         2017         0.0             94
34453    600031581         2018        33.0            127
68222    600031581         2019       -65.0             62


     building_id  school_year  chg_pd_qty  paid_quantity
296    600031583         2017         0.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
297      600031586         2017         0.0            295
34454    600031586         2018       -42.0            253
68223    600031586         2019      -102.0            151


       building_id  school_year  chg_pd_qty  paid_quantity
298      600031593         2017         0.0             92
34455    600031593         2018       -20.0             72


       building_id  school_year  chg_pd_qty  paid_quantity
299      600031603         2017         0.0             50
34456    600031603         2018        20.0             70
68224    600031603         2019       150.0            220


       building_id  school_year  chg_pd_qty  paid_quantity
300      600031606         2017         0.0             29
34457    600031606         2018        61.0             90


       building_id  school_year  chg_pd_qty  paid_quantity
301      600031607         2017         0.0            326
34458    600031607         2018       106.0            432
68225    600031607         2019       -57.0            375


       building_id  school_year  chg_pd_qty  paid_quantity
302      600031608         2017         0.0            134
34459    600031608         2018        -3.0            131
68226    600031608         2019        18.0            149


       building_id  school_year  chg_pd_qty  paid_quantity
303      600031611         2017         0.0            115
34460    600031611         2018         5.0            120
68227    600031611         2019       -14.0            106

       building_id  school_year  chg_pd_qty  paid_quantity
304      600031612         2017         0.0            420
34461    600031612         2018       -75.0            345
68228    600031612         2019      -117.0            228


       building_id  school_year  chg_pd_qty  paid_quantity
305      600031614         2017         0.0            198
34462    600031614         2018       -89.0            109
68229    600031614         2019        30.0            139


       building_id  school_year  chg_pd_qty  paid_quantity
306      600031616         2017         0.0            320
34463    600031616         2018        -9.0            311
68230    600031616         2019       -72.0            239


       building_id  school_year  chg_pd_qty  paid_quantity
307      600031617         2017         0.0            830
34464    600031617         2018       -25.0            805
68231    600031617         2019      -115.0            690


       building_id  school_year  chg_pd_qty  paid_quantity
308      600031623         2017         0.0            415
34465    600031623         2018       -46.0            369
68232    600031623         2019        38.0            407


       building_id  school_year  chg_pd_qty  paid_quantity
309      600031625         2017         0.0             81
34466    600031625         2018        49.0            130
68233    600031625         2019        22.0            152


       building_id  school_year  chg_pd_qty  paid_quantity
310      600031637         2017         0.0             71
34467    600031637         2018        37.0            108
68234    600031637         2019       -34.0             74


       building_id  school_year  chg_pd_qty  paid_quantity
311      600031647         2017         0.0             69
34468    600031647         2018       -13.0             56
68235    600031647         2019        24.0             80


       building_id  school_year  chg_pd_qty  paid_quantity
312      600031685         2017         0.0            117
34469    600031685         2018         0.0            117
68236    600031685         2019       -57.0             60


       building_id  school_year  chg_pd_qty  paid_quantity
313      600031711         2017         0.0            160
34470    600031711         2018       -10.0            150
68237    600031711         2019        14.0            164


       building_id  school_year  chg_pd_qty  paid_quantity
34471    600031714         2018         0.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
68238    600031724         2019         0.0             81


       building_id  school_year  chg_pd_qty  paid_quantity
34472    600031731         2018         0.0              1
68239    600031731         2019         0.0              1


       building_id  school_year  chg_pd_qty  paid_quantity
314      600031732         2017         0.0            515
34473    600031732         2018        20.0            535


     building_id  school_year  chg_pd_qty  paid_quantity
315    600031749         2017         0.0            360


       building_id  school_year  chg_pd_qty  paid_quantity
316      600031798         2017         0.0            123
34474    600031798         2018       -39.0             84
68240    600031798         2019        32.0            116


       building_id  school_year  chg_pd_qty  paid_quantity
34475    600031860         2018         0.0             70


       building_id  school_year  chg_pd_qty  paid_quantity
317      600031862         2017         0.0             20
34476    600031862         2018         0.0             20
68241    600031862         2019         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
34477    600031866         2018         0.0            280


       building_id  school_year  chg_pd_qty  paid_quantity
68242    600031867         2019         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
318      600031868         2017         0.0            214
34478    600031868         2018         0.0            214
68243    600031868         2019       -20.0            194


       building_id  school_year  chg_pd_qty  paid_quantity
319      600031869         2017         0.0            642
34479    600031869         2018      -292.0            350
68244    600031869         2019        15.0            365


       building_id  school_year  chg_pd_qty  paid_quantity
320      600031870         2017         0.0            545
34480    600031870         2018        75.0            620
68245    600031870         2019        95.0            715


       building_id  school_year  chg_pd_qty  paid_quantity
321      600031872         2017         0.0            876
34481    600031872         2018      -199.0            677
68246    600031872         2019      -258.0            419


       building_id  school_year  chg_pd_qty  paid_quantity
322      600031874         2017         0.0             73
34482    600031874         2018        57.0            130
68247    600031874         2019       -55.0             75


       building_id  school_year  chg_pd_qty  paid_quantity
323      600031877         2017         0.0            319
34483    600031877         2018       -55.0            264
68248    600031877         2019         8.0            272


       building_id  school_year  chg_pd_qty  paid_quantity
324      600031881         2017         0.0            926
34484    600031881         2018       865.0           1791
68249    600031881         2019      -868.0            923


       building_id  school_year  chg_pd_qty  paid_quantity
34485    600031885         2018         0.0             35
68250    600031885         2019         0.0             35


       building_id  school_year  chg_pd_qty  paid_quantity
325      600031904         2017         0.0            449
34486    600031904         2018       -67.0            382
68251    600031904         2019        94.0            476


       building_id  school_year  chg_pd_qty  paid_quantity
326      600031905         2017         0.0            355
34487    600031905         2018       -33.0            322
68252    600031905         2019      -112.0            210


       building_id  school_year  chg_pd_qty  paid_quantity
34488    600031906         2018         0.0            225


       building_id  school_year  chg_pd_qty  paid_quantity
327      600031907         2017         0.0            192
34489    600031907         2018       336.0            528
68253    600031907         2019      -468.0             60


       building_id  school_year  chg_pd_qty  paid_quantity
328      600031909         2017         0.0            523
34490    600031909         2018       -19.0            504
68254    600031909         2019      -232.0            272


       building_id  school_year  chg_pd_qty  paid_quantity
329      600031912         2017         0.0             30
34491    600031912         2018       126.0            156
68255    600031912         2019        41.0            197


       building_id  school_year  chg_pd_qty  paid_quantity
330      600031915         2017         0.0             70
34492    600031915         2018        50.0            120
68256    600031915         2019       210.0            330


       building_id  school_year  chg_pd_qty  paid_quantity
68257    600031926         2019         0.0              5


       building_id  school_year  chg_pd_qty  paid_quantity
68258    600031927         2019         0.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
331      600031928         2017         0.0             85
34493    600031928         2018       -35.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
332      600031929         2017         0.0            372
34494    600031929         2018      -357.0             15
68259    600031929         2019        18.0             33


       building_id  school_year  chg_pd_qty  paid_quantity
34495    600031933         2018         0.0              8


       building_id  school_year  chg_pd_qty  paid_quantity
333      600031934         2017         0.0            470
34496    600031934         2018         0.0            470
68260    600031934         2019       -15.0            455


       building_id  school_year  chg_pd_qty  paid_quantity
334      600031935         2017         0.0            979
34497    600031935         2018      -144.0            835
68261    600031935         2019      -640.0            195


       building_id  school_year  chg_pd_qty  paid_quantity
335      600031936         2017         0.0             40
34498    600031936         2018        40.0             80
68262    600031936         2019         0.0             80


       building_id  school_year  chg_pd_qty  paid_quantity
336      600031937         2017         0.0            542
34499    600031937         2018       -21.0            521
68263    600031937         2019      -439.0             82

       building_id  school_year  chg_pd_qty  paid_quantity
337      600031940         2017         0.0            610
34500    600031940         2018       -59.0            551
68264    600031940         2019         7.0            558


       building_id  school_year  chg_pd_qty  paid_quantity
34501    600031941         2018         0.0            134
68265    600031941         2019       114.0            248


       building_id  school_year  chg_pd_qty  paid_quantity
338      600031942         2017         0.0             45
34502    600031942         2018       -25.0             20
68266    600031942         2019         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
68267    600031943         2019         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
339      600031946         2017         0.0            130
34503    600031946         2018        10.0            140
68268    600031946         2019       -68.0             72


       building_id  school_year  chg_pd_qty  paid_quantity
340      600031947         2017         0.0            425
34504    600031947         2018        35.0            460
68269    600031947         2019       -25.0            435


       building_id  school_year  chg_pd_qty  paid_quantity
341      600031949         2017         0.0           1005
34505    600031949         2018      -789.0            216
68270    600031949         2019       303.0            519


       building_id  school_year  chg_pd_qty  paid_quantity
34506    600031952         2018         0.0            371
68271    600031952         2019      -345.0             26


       building_id  school_year  chg_pd_qty  paid_quantity
342      600031953         2017         0.0            240
68272    600031953         2019      -194.0             46


       building_id  school_year  chg_pd_qty  paid_quantity
343      600031967         2017         0.0              1
68273    600031967         2019        99.0            100


     building_id  school_year  chg_pd_qty  paid_quantity
344    600031969         2017         0.0            320


       building_id  school_year  chg_pd_qty  paid_quantity
345      600031974         2017         0.0             97
34507    600031974         2018         1.0             98
68274    600031974         2019       -28.0             70


       building_id  school_year  chg_pd_qty  paid_quantity
346      600031985         2017         0.0             17
34508    600031985         2018        -2.0             15
68275    600031985         2019         0.0             15


       building_id  school_year  chg_pd_qty  paid_quantity
68276    600031989         2019         0.0              1


       building_id  school_year  chg_pd_qty  paid_quantity
347      600031991         2017         0.0            360
34509    600031991         2018       -18.0            342
68277    600031991         2019       112.0            454


       building_id  school_year  chg_pd_qty  paid_quantity
68278    600031993         2019         0.0              1


       building_id  school_year  chg_pd_qty  paid_quantity
348      600032001         2017         0.0            290
34510    600032001         2018        20.0            310
68279    600032001         2019         0.0            310


     building_id  school_year  chg_pd_qty  paid_quantity
349    600032003         2017         0.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
350      600032006         2017         0.0            115
34511    600032006         2018         5.0            120
68280    600032006         2019       -60.0             60


     building_id  school_year  chg_pd_qty  paid_quantity
351    600032012         2017         0.0             50


     building_id  school_year  chg_pd_qty  paid_quantity
352    600032015         2017         0.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
353      600032016         2017         0.0             30
34512    600032016         2018         0.0             30
68281    600032016         2019         0.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
354      600032019         2017         0.0            104
34513    600032019         2018       -74.0             30
68282    600032019         2019        20.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
68283    600032020         2019         0.0             45


       building_id  school_year  chg_pd_qty  paid_quantity
355      600032025         2017         0.0            294
34514    600032025         2018       -30.0            264
68284    600032025         2019        26.0            290


       building_id  school_year  chg_pd_qty  paid_quantity
356      600032027         2017         0.0            128
34515    600032027         2018       -80.0             48


       building_id  school_year  chg_pd_qty  paid_quantity
357      600032028         2017         0.0            291
34516    600032028         2018       -81.0            210


       building_id  school_year  chg_pd_qty  paid_quantity
358      600032029         2017         0.0            400
34517    600032029         2018       -10.0            390
68285    600032029         2019        10.0            400


       building_id  school_year  chg_pd_qty  paid_quantity
359      600032030         2017         0.0            888
34518    600032030         2018      -666.0            222
68286    600032030         2019       -22.0            200


       building_id  school_year  chg_pd_qty  paid_quantity
360      600032031         2017         0.0            355
34519    600032031         2018       157.0            512


       building_id  school_year  chg_pd_qty  paid_quantity
361      600032035         2017         0.0            515
34520    600032035         2018      -100.0            415
68287    600032035         2019       350.0            765


       building_id  school_year  chg_pd_qty  paid_quantity
362      600032037         2017         0.0            260
34521    600032037         2018      -140.0            120
68288    600032037         2019       220.0            340


       building_id  school_year  chg_pd_qty  paid_quantity
363      600032038         2017         0.0            288
34522    600032038         2018         8.0            296
68289    600032038         2019         0.0            296


     building_id  school_year  chg_pd_qty  paid_quantity
364    600032040         2017         0.0            570


       building_id  school_year  chg_pd_qty  paid_quantity
365      600032047         2017         0.0            135
34523    600032047         2018       -20.0            115
68290    600032047         2019       -26.0             89


       building_id  school_year  chg_pd_qty  paid_quantity
366      600032050         2017         0.0            580
34524    600032050         2018        40.0            620
68291    600032050         2019        75.0            695


       building_id  school_year  chg_pd_qty  paid_quantity
367      600032051         2017         0.0             30
68292    600032051         2019        37.0             67


       building_id  school_year  chg_pd_qty  paid_quantity
368      600032052         2017         0.0            694
34525    600032052         2018      -200.0            494
68293    600032052         2019      -134.0            360


       building_id  school_year  chg_pd_qty  paid_quantity
369      600032078         2017         0.0             10
68294    600032078         2019        20.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
370      600032081         2017         0.0            433
34526    600032081         2018        52.0            485
68295    600032081         2019       -30.0            455


       building_id  school_year  chg_pd_qty  paid_quantity
68296    600032082         2019         0.0              2


       building_id  school_year  chg_pd_qty  paid_quantity
371      600032084         2017         0.0            475
34527    600032084         2018         0.0            475


       building_id  school_year  chg_pd_qty  paid_quantity
372      600032085         2017         0.0            500
34528    600032085         2018       -64.0            436
68297    600032085         2019      -426.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
373      600032093         2017         0.0           1527
34529    600032093         2018       495.0           2022
68298    600032093         2019      -774.0           1248


       building_id  school_year  chg_pd_qty  paid_quantity
374      600032094         2017         0.0              2
34530    600032094         2018        28.0             30
68299    600032094         2019         5.0             35

       building_id  school_year  chg_pd_qty  paid_quantity
375      600032095         2017         0.0             74
34531    600032095         2018       -49.0             25
68300    600032095         2019        45.0             70


       building_id  school_year  chg_pd_qty  paid_quantity
376      600032097         2017         0.0             40
34532    600032097         2018        24.0             64


       building_id  school_year  chg_pd_qty  paid_quantity
377      600032099         2017         0.0            450
34533    600032099         2018      -150.0            300
68301    600032099         2019      -124.0            176


       building_id  school_year  chg_pd_qty  paid_quantity
378      600032104         2017         0.0             70
34534    600032104         2018        31.0            101
68302    600032104         2019        -2.0             99


       building_id  school_year  chg_pd_qty  paid_quantity
379      600032105         2017         0.0            321
34535    600032105         2018        29.0            350
68303    600032105         2019        55.0            405


       building_id  school_year  chg_pd_qty  paid_quantity
380      600032107         2017         0.0             65
34536    600032107         2018       -37.0             28
68304    600032107         2019         0.0             28


       building_id  school_year  chg_pd_qty  paid_quantity
381      600032109         2017         0.0             11
34537    600032109         2018         1.0             12
68305    600032109         2019        -2.0             10


     building_id  school_year  chg_pd_qty  paid_quantity
382    600032110         2017         0.0             23


       building_id  school_year  chg_pd_qty  paid_quantity
383      600032111         2017         0.0             76
34538    600032111         2018        39.0            115
68306    600032111         2019       -13.0            102


       building_id  school_year  chg_pd_qty  paid_quantity
384      600032112         2017         0.0            480
34539    600032112         2018        40.0            520
68307    600032112         2019        92.0            612


       building_id  school_year  chg_pd_qty  paid_quantity
385      600032114         2017         0.0            560
34540    600032114         2018        15.0            575
68308    600032114         2019       395.0            970


       building_id  school_year  chg_pd_qty  paid_quantity
386      600032115         2017         0.0            625
34541    600032115         2018       177.0            802
68309    600032115         2019       -75.0            727


       building_id  school_year  chg_pd_qty  paid_quantity
387      600032116         2017         0.0            296
34542    600032116         2018        15.0            311
68310    600032116         2019       119.0            430


       building_id  school_year  chg_pd_qty  paid_quantity
388      600032117         2017         0.0            318
34543    600032117         2018       -38.0            280
68311    600032117         2019      -270.0             10


     building_id  school_year  chg_pd_qty  paid_quantity
389    600032124         2017         0.0             20


     building_id  school_year  chg_pd_qty  paid_quantity
390    600032126         2017         0.0             35


       building_id  school_year  chg_pd_qty  paid_quantity
391      600032131         2017         0.0            156
34544    600032131         2018         0.0            156
68312    600032131         2019        37.0            193


       building_id  school_year  chg_pd_qty  paid_quantity
392      600032134         2017         0.0            650
34545    600032134         2018      -118.0            532
68313    600032134         2019      -492.0             40


     building_id  school_year  chg_pd_qty  paid_quantity
393    600032135         2017         0.0            156


       building_id  school_year  chg_pd_qty  paid_quantity
394      600032139         2017         0.0            678
34546    600032139         2018      -208.0            470
68314    600032139         2019       443.0            913


       building_id  school_year  chg_pd_qty  paid_quantity
395      600032141         2017         0.0             75
34547    600032141         2018       -45.0             30
68315    600032141         2019        90.0            120


       building_id  school_year  chg_pd_qty  paid_quantity
396      600032143         2017         0.0            290
34548    600032143         2018       158.0            448


       building_id  school_year  chg_pd_qty  paid_quantity
397      600032148         2017         0.0             20
34549    600032148         2018        10.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
398      600032151         2017         0.0             30
34550    600032151         2018        25.0             55
68316    600032151         2019       102.0            157


       building_id  school_year  chg_pd_qty  paid_quantity
399      600032153         2017         0.0             30
34551    600032153         2018        60.0             90
68317    600032153         2019       -30.0             60


       building_id  school_year  chg_pd_qty  paid_quantity
400      600032154         2017         0.0             95
34552    600032154         2018        18.0            113
68318    600032154         2019       -19.0             94


       building_id  school_year  chg_pd_qty  paid_quantity
401      600032156         2017         0.0             60
34553    600032156         2018       -30.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
402      600032157         2017         0.0            150
34554    600032157         2018       -90.0             60


     building_id  school_year  chg_pd_qty  paid_quantity
403    600032158         2017         0.0            112


       building_id  school_year  chg_pd_qty  paid_quantity
34555    600032159         2018         0.0            176
68319    600032159         2019       -31.0            145


       building_id  school_year  chg_pd_qty  paid_quantity
404      600032160         2017         0.0            446
34556    600032160         2018       -37.0            409
68320    600032160         2019      -360.0             49


     building_id  school_year  chg_pd_qty  paid_quantity
405    600032163         2017         0.0             32


       building_id  school_year  chg_pd_qty  paid_quantity
406      600032164         2017         0.0             70
34557    600032164         2018        20.0             90
68321    600032164         2019        -5.0             85


       building_id  school_year  chg_pd_qty  paid_quantity
407      600032165         2017         0.0             37
34558    600032165         2018        27.0             64
68322    600032165         2019        11.0             75


       building_id  school_year  chg_pd_qty  paid_quantity
408      600032166         2017         0.0           1036
34559    600032166         2018      -680.0            356
68323    600032166         2019      -296.0             60


     building_id  school_year  chg_pd_qty  paid_quantity
409    600032167         2017         0.0             90


       building_id  school_year  chg_pd_qty  paid_quantity
410      600032168         2017         0.0            103
34560    600032168         2018         5.0            108
68324    600032168         2019       138.0            246


       building_id  school_year  chg_pd_qty  paid_quantity
411      600032176         2017         0.0             60
34561    600032176         2018        -4.0             56


       building_id  school_year  chg_pd_qty  paid_quantity
412      600032178         2017         0.0            337
34562    600032178         2018      -107.0            230
68325    600032178         2019       -95.0            135


       building_id  school_year  chg_pd_qty  paid_quantity
413      600032179         2017         0.0            239
34563    600032179         2018       -29.0            210
68326    600032179         2019         6.0            216


       building_id  school_year  chg_pd_qty  paid_quantity
68327    600032180         2019         0.0             10

     building_id  school_year  chg_pd_qty  paid_quantity
414    600032181         2017         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
415      600032185         2017         0.0             48
34564    600032185         2018       -13.0             35


       building_id  school_year  chg_pd_qty  paid_quantity
416      600032186         2017         0.0            257
34565    600032186         2018      -178.0             79
68328    600032186         2019       -31.0             48


       building_id  school_year  chg_pd_qty  paid_quantity
417      600032187         2017         0.0             97
34566    600032187         2018        78.0            175
68329    600032187         2019       -30.0            145


       building_id  school_year  chg_pd_qty  paid_quantity
418      600032188         2017         0.0            112
34567    600032188         2018        45.0            157
68330    600032188         2019        53.0            210


       building_id  school_year  chg_pd_qty  paid_quantity
68331    600032189         2019         0.0             30


     building_id  school_year  chg_pd_qty  paid_quantity
419    600032191         2017         0.0            125


       building_id  school_year  chg_pd_qty  paid_quantity
34568    600032213         2018         0.0            180


       building_id  school_year  chg_pd_qty  paid_quantity
420      600032214         2017         0.0           1390
68332    600032214         2019     -1310.0             80


       building_id  school_year  chg_pd_qty  paid_quantity
421      600032216         2017         0.0             24
34569    600032216         2018        84.0            108


       building_id  school_year  chg_pd_qty  paid_quantity
422      600032217         2017         0.0            946
34570    600032217         2018       -79.0            867
68333    600032217         2019      -231.0            636


       building_id  school_year  chg_pd_qty  paid_quantity
423      600032224         2017         0.0            377
34571    600032224         2018      -254.0            123


       building_id  school_year  chg_pd_qty  paid_quantity
424      600032225         2017         0.0             79
68334    600032225         2019       -54.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
425      600032226         2017         0.0            428
34572    600032226         2018         1.0            429
68335    600032226         2019       -50.0            379


       building_id  school_year  chg_pd_qty  paid_quantity
426      600032227         2017         0.0            298
34573    600032227         2018        -5.0            293
68336    600032227         2019         1.0            294


       building_id  school_year  chg_pd_qty  paid_quantity
427      600032230         2017         0.0            259
34574    600032230         2018       -66.0            193
68337    600032230         2019       -74.0            119


       building_id  school_year  chg_pd_qty  paid_quantity
428      600032231         2017         0.0            555
34575    600032231         2018      -271.0            284
68338    600032231         2019        59.0            343


       building_id  school_year  chg_pd_qty  paid_quantity
429      600032232         2017         0.0            401
34576    600032232         2018       -52.0            349
68339    600032232         2019        86.0            435


       building_id  school_year  chg_pd_qty  paid_quantity
430      600032233         2017         0.0            210
34577    600032233         2018        51.0            261
68340    600032233         2019       -99.0            162


       building_id  school_year  chg_pd_qty  paid_quantity
431      600032234         2017         0.0             30
34578    600032234         2018        15.0             45
68341    600032234         2019       -15.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
432      600032239         2017         0.0            907
34579    600032239         2018        12.0            919
68342    600032239         2019       207.0           1126


       building_id  school_year  chg_pd_qty  paid_quantity
433      600032241         2017         0.0             64
34580    600032241         2018       -19.0             45


       building_id  school_year  chg_pd_qty  paid_quantity
434      600032246         2017         0.0            260
34581    600032246         2018       400.0            660
68343    600032246         2019      -140.0            520


       building_id  school_year  chg_pd_qty  paid_quantity
435      600032250         2017         0.0             80
34582    600032250         2018        10.0             90
68344    600032250         2019        20.0            110


       building_id  school_year  chg_pd_qty  paid_quantity
436      600032270         2017         0.0            360
34583    600032270         2018      -170.0            190
68345    600032270         2019       -65.0            125


       building_id  school_year  chg_pd_qty  paid_quantity
437      600032271         2017         0.0            280
34584    600032271         2018       -25.0            255
68346    600032271         2019       -23.0            232


       building_id  school_year  chg_pd_qty  paid_quantity
438      600032272         2017         0.0            250
34585    600032272         2018       -15.0            235
68347    600032272         2019       -75.0            160


       building_id  school_year  chg_pd_qty  paid_quantity
439      600032291         2017         0.0            102
34586    600032291         2018        59.0            161
68348    600032291         2019        28.0            189


       building_id  school_year  chg_pd_qty  paid_quantity
440      600032297         2017         0.0            496
34587    600032297         2018      -270.0            226
68349    600032297         2019         0.0            226


       building_id  school_year  chg_pd_qty  paid_quantity
441      600032301         2017         0.0             30
34588    600032301         2018         0.0             30
68350    600032301         2019         0.0             30


     building_id  school_year  chg_pd_qty  paid_quantity
442    600032305         2017         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
443      600032306         2017         0.0            195
34589    600032306         2018         5.0            200
68351    600032306         2019       -14.0            186


       building_id  school_year  chg_pd_qty  paid_quantity
34590    600032315         2018         0.0            370
68352    600032315         2019       -10.0            360


       building_id  school_year  chg_pd_qty  paid_quantity
444      600032327         2017         0.0            755
34591    600032327         2018      -482.0            273


       building_id  school_year  chg_pd_qty  paid_quantity
445      600032330         2017         0.0            785
34592    600032330         2018      -395.0            390


       building_id  school_year  chg_pd_qty  paid_quantity
446      600032333         2017         0.0            127
34593    600032333         2018       199.0            326
68353    600032333         2019       175.0            501


       building_id  school_year  chg_pd_qty  paid_quantity
447      600032334         2017         0.0            100
34594    600032334         2018        80.0            180
68354    600032334         2019         6.0            186


       building_id  school_year  chg_pd_qty  paid_quantity
448      600032337         2017         0.0             70
34595    600032337         2018        -5.0             65
68355    600032337         2019         0.0             65


       building_id  school_year  chg_pd_qty  paid_quantity
449      600032349         2017         0.0             52
34596    600032349         2018       159.0            211
68356    600032349         2019        38.0            249


       building_id  school_year  chg_pd_qty  paid_quantity
450      600032352         2017         0.0            188
34597    600032352         2018       -42.0            146


       building_id  school_year  chg_pd_qty  paid_quantity
451      600032353         2017         0.0            480
34598    600032353         2018       412.0            892
68357    600032353         2019       -87.0            805

     building_id  school_year  chg_pd_qty  paid_quantity
452    600032355         2017         0.0             69


       building_id  school_year  chg_pd_qty  paid_quantity
453      600032357         2017         0.0            340
68358    600032357         2019        95.0            435


       building_id  school_year  chg_pd_qty  paid_quantity
454      600032358         2017         0.0              1
34599    600032358         2018         4.0              5
68359    600032358         2019         0.0              5


       building_id  school_year  chg_pd_qty  paid_quantity
455      600032359         2017         0.0            861
34600    600032359         2018      -490.0            371
68360    600032359         2019        61.0            432


       building_id  school_year  chg_pd_qty  paid_quantity
68361    600032362         2019         0.0            102


       building_id  school_year  chg_pd_qty  paid_quantity
68362    600032364         2019         0.0            178


       building_id  school_year  chg_pd_qty  paid_quantity
456      600032365         2017         0.0            431
34601    600032365         2018       236.0            667
68363    600032365         2019       -14.0            653


     building_id  school_year  chg_pd_qty  paid_quantity
457    600032372         2017         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
34602    600032374         2018         0.0             24


       building_id  school_year  chg_pd_qty  paid_quantity
458      600032376         2017         0.0             60
34603    600032376         2018         0.0             60


       building_id  school_year  chg_pd_qty  paid_quantity
459      600032383         2017         0.0             40
34604    600032383         2018         0.0             40
68364    600032383         2019         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
460      600032384         2017         0.0            805
34605    600032384         2018       222.0           1027
68365    600032384         2019       -40.0            987


       building_id  school_year  chg_pd_qty  paid_quantity
461      600032385         2017         0.0            154
34606    600032385         2018       -40.0            114
68366    600032385         2019       -30.0             84


       building_id  school_year  chg_pd_qty  paid_quantity
462      600032388         2017         0.0            305
34607    600032388         2018       -42.0            263
68367    600032388         2019        25.0            288


       building_id  school_year  chg_pd_qty  paid_quantity
463      600032393         2017         0.0            198
34608    600032393         2018       -27.0            171
68368    600032393         2019         9.0            180


       building_id  school_year  chg_pd_qty  paid_quantity
464      600032398         2017         0.0             89
34609    600032398         2018        36.0            125
68369    600032398         2019       -99.0             26


     building_id  school_year  chg_pd_qty  paid_quantity
465    600032399         2017         0.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
34610    600032400         2018         0.0             10
68370    600032400         2019        10.0             20


     building_id  school_year  chg_pd_qty  paid_quantity
466    600032401         2017         0.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
34611    600032402         2018         0.0             48
68371    600032402         2019       -26.0             22


       building_id  school_year  chg_pd_qty  paid_quantity
467      600032404         2017         0.0             30
34612    600032404         2018       100.0            130
68372    600032404         2019         0.0            130


       building_id  school_year  chg_pd_qty  paid_quantity
68373    600032405         2019         0.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
468      600032412         2017         0.0            652
34613    600032412         2018       211.0            863
68374    600032412         2019        18.0            881


       building_id  school_year  chg_pd_qty  paid_quantity
469      600032414         2017         0.0            437
34614    600032414         2018      -195.0            242
68375    600032414         2019        77.0            319


       building_id  school_year  chg_pd_qty  paid_quantity
470      600032415         2017         0.0             20
34615    600032415         2018        60.0             80
68376    600032415         2019       -61.0             19


       building_id  school_year  chg_pd_qty  paid_quantity
471      600032419         2017         0.0             14
34616    600032419         2018        23.0             37
68377    600032419         2019       -12.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
472      600032421         2017         0.0             49
34617    600032421         2018         1.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
473      600032423         2017         0.0             34
34618    600032423         2018        -6.0             28
68378    600032423         2019       132.0            160


       building_id  school_year  chg_pd_qty  paid_quantity
68379    600032426         2019         0.0             26


       building_id  school_year  chg_pd_qty  paid_quantity
474      600032428         2017         0.0             65
34619    600032428         2018        95.0            160
68380    600032428         2019       -70.0             90


       building_id  school_year  chg_pd_qty  paid_quantity
475      600032431         2017         0.0            220
34620    600032431         2018        85.0            305
68381    600032431         2019        50.0            355


       building_id  school_year  chg_pd_qty  paid_quantity
34621    600032432         2018         0.0             60
68382    600032432         2019         1.0             61


       building_id  school_year  chg_pd_qty  paid_quantity
476      600032434         2017         0.0             55
34622    600032434         2018        30.0             85
68383    600032434         2019        -3.0             82


       building_id  school_year  chg_pd_qty  paid_quantity
477      600032435         2017         0.0            170
34623    600032435         2018       -50.0            120
68384    600032435         2019        10.0            130


       building_id  school_year  chg_pd_qty  paid_quantity
478      600032436         2017         0.0             60
34624    600032436         2018       -29.0             31
68385    600032436         2019        26.0             57


       building_id  school_year  chg_pd_qty  paid_quantity
479      600032445         2017         0.0             18
34625    600032445         2018       231.0            249
68386    600032445         2019       -27.0            222


       building_id  school_year  chg_pd_qty  paid_quantity
480      600032460         2017         0.0            725
34626    600032460         2018      -149.0            576
68387    600032460         2019      -575.0              1


       building_id  school_year  chg_pd_qty  paid_quantity
481      600032463         2017         0.0            307
34627    600032463         2018        41.0            348
68388    600032463         2019         7.0            355


       building_id  school_year  chg_pd_qty  paid_quantity
68389    600032469         2019         0.0             64


       building_id  school_year  chg_pd_qty  paid_quantity
482      600032471         2017         0.0            344
34628    600032471         2018        11.0            355
68390    600032471         2019        95.0            450


       building_id  school_year  chg_pd_qty  paid_quantity
483      600032473         2017         0.0             22
34629    600032473         2018        -8.0             14
68391    600032473         2019       -13.0              1


       building_id  school_year  chg_pd_qty  paid_quantity
484      600032474         2017         0.0            197
34630    600032474         2018        44.0            241
68392    600032474         2019       -75.0            166

       building_id  school_year  chg_pd_qty  paid_quantity
485      600032475         2017         0.0            384
34631    600032475         2018         0.0            384
68393    600032475         2019         6.0            390


       building_id  school_year  chg_pd_qty  paid_quantity
68394    600032477         2019         0.0             78


       building_id  school_year  chg_pd_qty  paid_quantity
486      600032480         2017         0.0            350
34632    600032480         2018         0.0            350
68395    600032480         2019         0.0            350


       building_id  school_year  chg_pd_qty  paid_quantity
487      600032481         2017         0.0            175
34633    600032481         2018       140.0            315
68396    600032481         2019         0.0            315


       building_id  school_year  chg_pd_qty  paid_quantity
488      600032484         2017         0.0            105
34634    600032484         2018        -7.0             98
68397    600032484         2019       -19.0             79


       building_id  school_year  chg_pd_qty  paid_quantity
489      600032486         2017         0.0           1395
34635    600032486         2018         0.0           1395
68398    600032486         2019      -633.0            762


       building_id  school_year  chg_pd_qty  paid_quantity
490      600032491         2017         0.0            262
34636    600032491         2018         5.0            267
68399    600032491         2019       -51.0            216


       building_id  school_year  chg_pd_qty  paid_quantity
491      600032495         2017         0.0            152
34637    600032495         2018       -45.0            107
68400    600032495         2019        32.0            139


       building_id  school_year  chg_pd_qty  paid_quantity
492      600032503         2017         0.0             44
34638    600032503         2018       369.0            413
68401    600032503         2019       -53.0            360


       building_id  school_year  chg_pd_qty  paid_quantity
493      600032506         2017         0.0            283
34639    600032506         2018        31.0            314
68402    600032506         2019       -13.0            301


       building_id  school_year  chg_pd_qty  paid_quantity
494      600032509         2017         0.0             50
34640    600032509         2018         0.0             50
68403    600032509         2019         0.0             50


     building_id  school_year  chg_pd_qty  paid_quantity
495    600032510         2017         0.0             25


       building_id  school_year  chg_pd_qty  paid_quantity
496      600032512         2017         0.0            422
34641    600032512         2018       -10.0            412
68404    600032512         2019      -137.0            275


       building_id  school_year  chg_pd_qty  paid_quantity
497      600032514         2017         0.0            121
34642    600032514         2018       -10.0            111
68405    600032514         2019        27.0            138


       building_id  school_year  chg_pd_qty  paid_quantity
498      600032517         2017         0.0             30
34643    600032517         2018       -14.0             16


       building_id  school_year  chg_pd_qty  paid_quantity
499      600032520         2017         0.0            491
34644    600032520         2018      -244.0            247
68406    600032520         2019       214.0            461


       building_id  school_year  chg_pd_qty  paid_quantity
500      600032521         2017         0.0            631
34645    600032521         2018       117.0            748
68407    600032521         2019        -6.0            742


       building_id  school_year  chg_pd_qty  paid_quantity
34646    600032522         2018         0.0             28


       building_id  school_year  chg_pd_qty  paid_quantity
501      600032523         2017         0.0            177
34647    600032523         2018        33.0            210
68408    600032523         2019       -45.0            165


       building_id  school_year  chg_pd_qty  paid_quantity
34648    600032528         2018         0.0            331


       building_id  school_year  chg_pd_qty  paid_quantity
502      600032529         2017         0.0            698
34649    600032529         2018       -22.0            676


       building_id  school_year  chg_pd_qty  paid_quantity
503      600032530         2017         0.0            386
34650    600032530         2018       129.0            515
68409    600032530         2019      -346.0            169


       building_id  school_year  chg_pd_qty  paid_quantity
504      600032531         2017         0.0           1392
34651    600032531         2018      -106.0           1286
68410    600032531         2019      -896.0            390


       building_id  school_year  chg_pd_qty  paid_quantity
505      600032535         2017         0.0            266
34652    600032535         2018       324.0            590
68411    600032535         2019      -486.0            104


       building_id  school_year  chg_pd_qty  paid_quantity
506      600032536         2017         0.0            290
34653    600032536         2018        40.0            330
68412    600032536         2019       -10.0            320


       building_id  school_year  chg_pd_qty  paid_quantity
507      600032537         2017         0.0            319
34654    600032537         2018       -88.0            231
68413    600032537         2019       -51.0            180


       building_id  school_year  chg_pd_qty  paid_quantity
508      600032539         2017         0.0            512
34655    600032539         2018        20.0            532
68414    600032539         2019       118.0            650


     building_id  school_year  chg_pd_qty  paid_quantity
509    600032540         2017         0.0             35


       building_id  school_year  chg_pd_qty  paid_quantity
510      600032549         2017         0.0            300
34656    600032549         2018       -65.0            235


       building_id  school_year  chg_pd_qty  paid_quantity
511      600032554         2017         0.0              2
34657    600032554         2018        26.0             28


     building_id  school_year  chg_pd_qty  paid_quantity
512    600032556         2017         0.0            195


       building_id  school_year  chg_pd_qty  paid_quantity
513      600032561         2017         0.0            382
34658    600032561         2018        68.0            450


       building_id  school_year  chg_pd_qty  paid_quantity
34659    600032562         2018         0.0             90
68415    600032562         2019       -40.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
514      600032563         2017         0.0            102
34660    600032563         2018       437.0            539
68416    600032563         2019         6.0            545


       building_id  school_year  chg_pd_qty  paid_quantity
515      600032564         2017         0.0             19
34661    600032564         2018        74.0             93
68417    600032564         2019        12.0            105


       building_id  school_year  chg_pd_qty  paid_quantity
516      600032566         2017         0.0            705
34662    600032566         2018       -54.0            651
68418    600032566         2019      -313.0            338


       building_id  school_year  chg_pd_qty  paid_quantity
68419    600032571         2019         0.0             60


       building_id  school_year  chg_pd_qty  paid_quantity
34663    600032572         2018         0.0              1
68420    600032572         2019        99.0            100


       building_id  school_year  chg_pd_qty  paid_quantity
34664    600032574         2018         0.0             32
68421    600032574         2019        28.0             60


     building_id  school_year  chg_pd_qty  paid_quantity
517    600032575         2017         0.0            360


       building_id  school_year  chg_pd_qty  paid_quantity
518      600032576         2017         0.0            283
34665    600032576         2018        49.0            332
68422    600032576         2019      -300.0             32


       building_id  school_year  chg_pd_qty  paid_quantity
519      600032578         2017         0.0            280
34666    600032578         2018        -4.0            276
68423    600032578         2019       151.0            427


     building_id  school_year  chg_pd_qty  paid_quantity
520    600032579         2017         0.0            105

       building_id  school_year  chg_pd_qty  paid_quantity
34667    600032581         2018         0.0             20
68424    600032581         2019        35.0             55


       building_id  school_year  chg_pd_qty  paid_quantity
521      600032587         2017         0.0             10
34668    600032587         2018        60.0             70


       building_id  school_year  chg_pd_qty  paid_quantity
522      600032592         2017         0.0            445
34669    600032592         2018       -49.0            396
68425    600032592         2019        -1.0            395


       building_id  school_year  chg_pd_qty  paid_quantity
523      600032602         2017         0.0            185
34670    600032602         2018       438.0            623
68426    600032602         2019      -143.0            480


       building_id  school_year  chg_pd_qty  paid_quantity
524      600032603         2017         0.0            392
34671    600032603         2018       112.0            504
68427    600032603         2019       168.0            672


       building_id  school_year  chg_pd_qty  paid_quantity
525      600032604         2017         0.0             20
68428    600032604         2019         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
526      600032608         2017         0.0            718
34672    600032608         2018         2.0            720
68429    600032608         2019         8.0            728


       building_id  school_year  chg_pd_qty  paid_quantity
527      600032614         2017         0.0            130
34673    600032614         2018        10.0            140


       building_id  school_year  chg_pd_qty  paid_quantity
34674    600032615         2018         0.0             20
68430    600032615         2019        42.0             62


       building_id  school_year  chg_pd_qty  paid_quantity
34675    600032617         2018         0.0             80
68431    600032617         2019       -45.0             35


       building_id  school_year  chg_pd_qty  paid_quantity
528      600032618         2017         0.0            630
34676    600032618         2018        90.0            720
68432    600032618         2019         0.0            720


       building_id  school_year  chg_pd_qty  paid_quantity
34677    600032619         2018         0.0              2


       building_id  school_year  chg_pd_qty  paid_quantity
68433    600032621         2019         0.0              2


       building_id  school_year  chg_pd_qty  paid_quantity
529      600032627         2017         0.0            252
34678    600032627         2018         1.0            253
68434    600032627         2019       226.0            479


       building_id  school_year  chg_pd_qty  paid_quantity
34679    600032630         2018         0.0            421
68435    600032630         2019        18.0            439


       building_id  school_year  chg_pd_qty  paid_quantity
530      600032632         2017         0.0            443
34680    600032632         2018        11.0            454
68436    600032632         2019        32.0            486


       building_id  school_year  chg_pd_qty  paid_quantity
34681    600032638         2018         0.0             55
68437    600032638         2019       321.0            376


       building_id  school_year  chg_pd_qty  paid_quantity
531      600032639         2017         0.0            190
34682    600032639         2018        10.0            200
68438    600032639         2019       -10.0            190


       building_id  school_year  chg_pd_qty  paid_quantity
68439    600032642         2019         0.0             20


       building_id  school_year  chg_pd_qty  paid_quantity
532      600032645         2017         0.0             58
34683    600032645         2018        -6.0             52
68440    600032645         2019         8.0             60


       building_id  school_year  chg_pd_qty  paid_quantity
533      600032649         2017         0.0            370
34684    600032649         2018       -15.0            355
68441    600032649         2019        25.0            380


       building_id  school_year  chg_pd_qty  paid_quantity
34685    600032650         2018         0.0             50


       building_id  school_year  chg_pd_qty  paid_quantity
534      600032659         2017         0.0            174
34686    600032659         2018       160.0            334
68442    600032659         2019        27.0            361


       building_id  school_year  chg_pd_qty  paid_quantity
535      600032668         2017         0.0             15
34687    600032668         2018         1.0             16


       building_id  school_year  chg_pd_qty  paid_quantity
536      600032670         2017         0.0             52
34688    600032670         2018        -5.0             47
68443    600032670         2019        18.0             65


       building_id  school_year  chg_pd_qty  paid_quantity
537      600032677         2017         0.0             59
34689    600032677         2018        -8.0             51
68444    600032677         2019       -16.0             35


       building_id  school_year  chg_pd_qty  paid_quantity
538      600032678         2017         0.0            200
34690    600032678         2018       -76.0            124
68445    600032678         2019        34.0            158


       building_id  school_year  chg_pd_qty  paid_quantity
539      600032682         2017         0.0             40
34691    600032682         2018       -10.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
540      600032684         2017         0.0            376
34692    600032684         2018       -64.0            312
68446    600032684         2019       -48.0            264


       building_id  school_year  chg_pd_qty  paid_quantity
541      600032689         2017         0.0            126
34693    600032689         2018        22.0            148
68447    600032689         2019       -92.0             56


       building_id  school_year  chg_pd_qty  paid_quantity
542      600032690         2017         0.0             10
34694    600032690         2018        19.0             29
68448    600032690         2019        -4.0             25


     building_id  school_year  chg_pd_qty  paid_quantity
543    600032695         2017         0.0             68


       building_id  school_year  chg_pd_qty  paid_quantity
544      600032724         2017         0.0             60
34695    600032724         2018        -4.0             56
68449    600032724         2019         0.0             56


       building_id  school_year  chg_pd_qty  paid_quantity
545      600032725         2017         0.0             12
34696    600032725         2018        -2.0             10
68450    600032725         2019         0.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
546      600032729         2017         0.0            112
34697    600032729         2018       233.0            345


       building_id  school_year  chg_pd_qty  paid_quantity
547      600032732         2017         0.0             91
34698    600032732         2018        83.0            174
68451    600032732         2019       -42.0            132


       building_id  school_year  chg_pd_qty  paid_quantity
34699    600032735         2018         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
548      600032736         2017         0.0             38
34700    600032736         2018       -18.0             20
68452    600032736         2019        33.0             53


       building_id  school_year  chg_pd_qty  paid_quantity
549      600032738         2017         0.0            237
34701    600032738         2018      -168.0             69
68453    600032738         2019        72.0            141


     building_id  school_year  chg_pd_qty  paid_quantity
550    600032742         2017         0.0            180


     building_id  school_year  chg_pd_qty  paid_quantity
551    600032743         2017         0.0             54


       building_id  school_year  chg_pd_qty  paid_quantity
68454    600032746         2019         0.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
552      600032747         2017         0.0            110
34702    600032747         2018       -90.0             20
68455    600032747         2019        96.0            116

       building_id  school_year  chg_pd_qty  paid_quantity
34703    600032749         2018         0.0            120
68456    600032749         2019        24.0            144


       building_id  school_year  chg_pd_qty  paid_quantity
553      600032753         2017         0.0             40
34704    600032753         2018       -28.0             12
68457    600032753         2019         0.0             12


       building_id  school_year  chg_pd_qty  paid_quantity
554      600032754         2017         0.0            400
34705    600032754         2018         0.0            400
68458    600032754         2019        25.0            425


       building_id  school_year  chg_pd_qty  paid_quantity
555      600032756         2017         0.0             25
34706    600032756         2018       125.0            150
68459    600032756         2019        29.0            179


       building_id  school_year  chg_pd_qty  paid_quantity
556      600032758         2017         0.0            360
34707    600032758         2018       155.0            515
68460    600032758         2019      -215.0            300


       building_id  school_year  chg_pd_qty  paid_quantity
557      600032759         2017         0.0            524
34708    600032759         2018         0.0            524
68461    600032759         2019         0.0            524


       building_id  school_year  chg_pd_qty  paid_quantity
558      600032766         2017         0.0             47
34709    600032766         2018        53.0            100
68462    600032766         2019       188.0            288


     building_id  school_year  chg_pd_qty  paid_quantity
559    600032780         2017         0.0             23


       building_id  school_year  chg_pd_qty  paid_quantity
560      600032785         2017         0.0            290
34710    600032785         2018       -10.0            280
68463    600032785         2019        35.0            315


       building_id  school_year  chg_pd_qty  paid_quantity
561      600032787         2017         0.0            320
34711    600032787         2018        80.0            400
68464    600032787         2019       175.0            575


       building_id  school_year  chg_pd_qty  paid_quantity
562      600032794         2017         0.0            319
34712    600032794         2018         0.0            319
68465    600032794         2019       125.0            444


       building_id  school_year  chg_pd_qty  paid_quantity
563      600032796         2017         0.0            626
34713    600032796         2018        16.0            642


       building_id  school_year  chg_pd_qty  paid_quantity
34714    600032799         2018         0.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
564      600032801         2017         0.0             40
34715    600032801         2018        55.0             95
68466    600032801         2019       433.0            528


       building_id  school_year  chg_pd_qty  paid_quantity
565      600032803         2017         0.0             20
34716    600032803         2018        84.0            104


       building_id  school_year  chg_pd_qty  paid_quantity
566      600032804         2017         0.0            121
68467    600032804         2019       -15.0            106


     building_id  school_year  chg_pd_qty  paid_quantity
567    600032810         2017         0.0             48


       building_id  school_year  chg_pd_qty  paid_quantity
568      600032811         2017         0.0             74
34717    600032811         2018       -29.0             45
68468    600032811         2019       -15.0             30


       building_id  school_year  chg_pd_qty  paid_quantity
569      600032812         2017         0.0             90
34718    600032812         2018       156.0            246
68469    600032812         2019      -140.0            106


       building_id  school_year  chg_pd_qty  paid_quantity
570      600032815         2017         0.0             70
34719    600032815         2018         0.0             70
68470    600032815         2019         2.0             72


     building_id  school_year  chg_pd_qty  paid_quantity
571    600032817         2017         0.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
572      600032819         2017         0.0            423
34720    600032819         2018        25.0            448
68471    600032819         2019       101.0            549


       building_id  school_year  chg_pd_qty  paid_quantity
573      600032821         2017         0.0             85
34721    600032821         2018       -18.0             67
68472    600032821         2019        15.0             82


       building_id  school_year  chg_pd_qty  paid_quantity
574      600032823         2017         0.0            140
34722    600032823         2018       132.0            272
68473    600032823         2019        15.0            287


       building_id  school_year  chg_pd_qty  paid_quantity
575      600032825         2017         0.0            249
34723    600032825         2018       -97.0            152
68474    600032825         2019       123.0            275


       building_id  school_year  chg_pd_qty  paid_quantity
576      600032829         2017         0.0             48
68475    600032829         2019         0.0             48


       building_id  school_year  chg_pd_qty  paid_quantity
577      600032830         2017         0.0            220
34724    600032830         2018        21.0            241
68476    600032830         2019      -201.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
34725    600032833         2018         0.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
578      600032838         2017         0.0            464
34726    600032838         2018       464.0            928
68477    600032838         2019      -469.0            459


       building_id  school_year  chg_pd_qty  paid_quantity
579      600032839         2017         0.0            389
34727    600032839         2018       429.0            818
68478    600032839         2019      -300.0            518


       building_id  school_year  chg_pd_qty  paid_quantity
580      600032840         2017         0.0            582
34728    600032840         2018       582.0           1164
68479    600032840         2019      -557.0            607


       building_id  school_year  chg_pd_qty  paid_quantity
581      600032841         2017         0.0            500
34729    600032841         2018       500.0           1000
68480    600032841         2019      -488.0            512


       building_id  school_year  chg_pd_qty  paid_quantity
582      600032842         2017         0.0            389
34730    600032842         2018       439.0            828
68481    600032842         2019      -369.0            459


       building_id  school_year  chg_pd_qty  paid_quantity
583      600032846         2017         0.0            430
34731    600032846         2018       215.0            645
68482    600032846         2019       -51.0            594


       building_id  school_year  chg_pd_qty  paid_quantity
584      600032847         2017         0.0            920
34732    600032847         2018       439.0           1359
68483    600032847         2019      -434.0            925


       building_id  school_year  chg_pd_qty  paid_quantity
585      600032850         2017         0.0             82
34733    600032850         2018        43.0            125
68484    600032850         2019         8.0            133


     building_id  school_year  chg_pd_qty  paid_quantity
586    600032853         2017         0.0            593


       building_id  school_year  chg_pd_qty  paid_quantity
587      600032859         2017         0.0            150
34734    600032859         2018        -8.0            142
68485    600032859         2019       -30.0            112


       building_id  school_year  chg_pd_qty  paid_quantity
34735    600032861         2018         0.0             16
68486    600032861         2019         0.0             16


       building_id  school_year  chg_pd_qty  paid_quantity
588      600032869         2017         0.0            470
34736    600032869         2018        80.0            550
68487    600032869         2019         0.0            550


       building_id  school_year  chg_pd_qty  paid_quantity
68488    600032871         2019         0.0             13

       building_id  school_year  chg_pd_qty  paid_quantity
589      600032876         2017         0.0            710
34737    600032876         2018      -700.0             10


       building_id  school_year  chg_pd_qty  paid_quantity
590      600032882         2017         0.0            160
34738    600032882         2018       110.0            270
68489    600032882         2019        59.0            329


       building_id  school_year  chg_pd_qty  paid_quantity
34739    600032885         2018         0.0             40


       building_id  school_year  chg_pd_qty  paid_quantity
34740    600032887         2018         0.0              4


       building_id  school_year  chg_pd_qty  paid_quantity
591      600032892         2017         0.0            100
34741    600032892         2018       500.0            600
68490    600032892         2019      -390.0            210


       building_id  school_year  chg_pd_qty  paid_quantity
592      600032894         2017         0.0            164
34742    600032894         2018        99.0            263
68491    600032894         2019       -99.0            164


     building_id  school_year  chg_pd_qty  paid_quantity
593    600032896         2017         0.0             36


     building_id  school_year  chg_pd_qty  paid_quantity
594    600032899         2017         0.0             32


       building_id  school_year  chg_pd_qty  paid_quantity
595      600032902         2017         0.0            201
34743    600032902         2018        14.0            215
68492    600032902         2019        63.0            278


       building_id  school_year  chg_pd_qty  paid_quantity
596      600032906         2017         0.0            454
34744    600032906         2018      -250.0            204
68493    600032906         2019      -101.0            103


       building_id  school_year  chg_pd_qty  paid_quantity
597      600032908         2017         0.0            120
34745    600032908         2018       -14.0            106
68494    600032908         2019       -36.0             70


       building_id  school_year  chg_pd_qty  paid_quantity
598      600032909         2017         0.0            543
34746    600032909         2018      -100.0            443
68495    600032909         2019      -137.0            306


       building_id  school_year  chg_pd_qty  paid_quantity
599      600032912         2017         0.0           1040
34747    600032912         2018      -579.0            461
68496    600032912         2019      -106.0            355


       building_id  school_year  chg_pd_qty  paid_quantity
600      600032917         2017         0.0             30
34748    600032917         2018        75.0            105
68497    600032917         2019        58.0            163


     building_id  school_year  chg_pd_qty  paid_quantity
601    600032921         2017         0.0             70


       building_id  school_year  chg_pd_qty  paid_quantity
34749    600032923         2018         0.0             30
68498    600032923         2019        25.0             55


       building_id  school_year  chg_pd_qty  paid_quantity
602      600032926         2017         0.0             10
68499    600032926         2019        34.0             44


       building_id  school_year  chg_pd_qty  paid_quantity
603      600032929         2017         0.0             40
68500    600032929         2019         6.0             46


       building_id  school_year  chg_pd_qty  paid_quantity
604      600032933         2017         0.0            460
34750    600032933         2018       -28.0            432
68501    600032933         2019        28.0            460


       building_id  school_year  chg_pd_qty  paid_quantity
605      600032934         2017         0.0            350
34751    600032934         2018       270.0            620
68502    600032934         2019        50.0            670


       building_id  school_year  chg_pd_qty  paid_quantity
606      600032937         2017         0.0             56
34752    600032937         2018       128.0            184
68503    600032937         2019       -72.0            112


       building_id  school_year  chg_pd_qty  paid_quantity
607      600032938         2017         0.0             12
68504    600032938         2019        53.0             65


       building_id  school_year  chg_pd_qty  paid_quantity
34753    600032941         2018         0.0            184
68505    600032941         2019        84.0            268


       building_id  school_year  chg_pd_qty  paid_quantity
608      600032942         2017         0.0             28
68506    600032942         2019        47.0             75


       building_id  school_year  chg_pd_qty  paid_quantity
609      600032944         2017         0.0            220
34754    600032944         2018        12.0            232
68507    600032944         2019       158.0            390


       building_id  school_year  chg_pd_qty  paid_quantity
610      600032946         2017         0.0            130
34755    600032946         2018       264.0            394
68508    600032946         2019      -122.0            272


     building_id  school_year  chg_pd_qty  paid_quantity
611    600032949         2017         0.0            560


       building_id  school_year  chg_pd_qty  paid_quantity
68509    600032950         2019         0.0            413


       building_id  school_year  chg_pd_qty  paid_quantity
68510    600032956         2019         0.0             27


       building_id  school_year  chg_pd_qty  paid_quantity
612      600032957         2017         0.0            190
34756    600032957         2018      -165.0             25
68511    600032957         2019       110.0            135

KeyboardInterrupt:

In [11]:
#Creating an indicator variable with 1 if order quantity decreased or 0 if not
df['indicator_qty_dcr'] = np.where(df['chg_pd_qty']< 0, 1, 0)
df.head()

,school_year,building_id,teacher_count,paid_quantity,order_amount,mailing_state,enrollment,b_indicator_charter,b_indicator_catholic,b_indicator_private,b_indicator_public,reading_performance_grd_3_pct,reading_performance_grd_4_pct,reading_performance_grd_5_pct,reading_performance_grd_6_pct,reading_performance_grd_7_pct,reading_performance_grd_8_pct,b_pct_aa,b_pct_as,b_pct_wa,b_pct_ha,b_pct_t1,b_census_hhi,b_census_urbanicity,bookclub_rev,revenue_ed_group,chg_pd_qty,indicator_qty_dcr
0,2017,600030153,1,61,339.95,AL,293.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46433.0,RURAL,3468.5,NaN,0.0,0
1,2017,600030160,5,145,903.25,AL,178.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35726.0,RURAL,3358.0,NaN,0.0,0
2,2017,600030189,4,68,357.00,AL,630.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55560.0,SUBURBAN,3766.0,NaN,0.0,0
3,2017,600030227,1,88,326.92,AL,471.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40817.0,SUBURBAN,1853.0,NaN,0.0,0
4,2017,600030248,1,20,64.90,AL,110.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61652.0,RURAL,978.0,NaN,0.0,0

In [12]:
#Checking for duplicates, No duplicates
df.duplicated().sum()

0

In [13]:
# listing data types
df.dtypes

school_year                        int64
building_id                        int64
teacher_count                      int64
paid_quantity                      int64
order_amount                     float64
mailing_state                     object
enrollment                       float64
b_indicator_charter              float64
b_indicator_catholic             float64
b_indicator_private              float64
b_indicator_public               float64
reading_performance_grd_3_pct    float64
reading_performance_grd_4_pct    float64
reading_performance_grd_5_pct    float64
reading_performance_grd_6_pct    float64
reading_performance_grd_7_pct    float64
reading_performance_grd_8_pct    float64
b_pct_aa                         float64
b_pct_as                         float64
b_pct_wa                         float64
b_pct_ha                         float64
b_pct_t1                         float64
b_census_hhi                     float64
b_census_urbanicity               object
bookclub_rev                     float64
revenue_ed_group                 float64
chg_pd_qty                       float64
indicator_qty_dcr                  int32
dtype: object

In [14]:
# Summary statistics
df.describe()

,school_year,building_id,teacher_count,paid_quantity,order_amount,enrollment,b_indicator_charter,b_indicator_catholic,b_indicator_private,b_indicator_public,reading_performance_grd_3_pct,reading_performance_grd_4_pct,reading_performance_grd_5_pct,reading_performance_grd_6_pct,reading_performance_grd_7_pct,reading_performance_grd_8_pct,b_pct_aa,b_pct_as,b_pct_wa,b_pct_ha,b_pct_t1,b_census_hhi,bookclub_rev,revenue_ed_group,chg_pd_qty,indicator_qty_dcr
count,101136.000000,1.011360e+05,101136.000000,101136.000000,101136.000000,100318.000000,100318.000000,100318.000000,100318.000000,100318.000000,98067.000000,98067.000000,98067.000000,98067.000000,98067.000000,98067.000000,98067.000000,98067.000000,98067.000000,98067.000000,98067.000000,99493.000000,98992.000000,68554.000000,101136.000000,101136.000000
mean,2017.990577,6.020208e+08,6.700838,267.362245,1301.815403,463.040770,0.023784,0.014623,0.028469,0.932315,43.519849,43.351066,40.273507,10.103388,0.546208,0.472351,11.684083,5.343755,54.223612,23.053045,47.435284,59838.055753,3135.627217,1656.157605,-1.019014,0.274581
std,0.816065,7.263141e+06,7.465864,273.728551,1397.988711,219.190078,0.152377,0.120041,0.166311,0.251205,26.314808,26.699804,28.994536,22.357303,5.604781,5.137985,19.158347,10.864584,33.567692,25.605170,29.405326,24487.657024,2859.551757,5872.272046,123.048403,0.446305
min,2017.000000,6.000302e+08,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9475.000000,0.000000,-39604.260000,-5383.000000,0.000000
25%,2017.000000,6.000589e+08,1.000000,65.000000,266.500000,314.000000,0.000000,0.000000,0.000000,1.000000,26.000000,25.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,22.000000,5.000000,23.000000,42695.000000,1201.500000,53.800000,-5.000000,0.000000
50%,2018.000000,6.000858e+08,4.000000,182.000000,825.000000,442.000000,0.000000,0.000000,0.000000,1.000000,47.000000,47.000000,44.000000,0.000000,0.000000,0.000000,3.000000,1.000000,61.000000,12.000000,46.000000,53939.000000,2419.000000,190.565000,0.000000,0.000000
75%,2019.000000,6.001238e+08,10.000000,387.000000,1919.950000,590.000000,0.000000,0.000000,0.000000,1.000000,64.000000,64.000000,64.000000,0.000000,0.000000,0.000000,13.000000,5.000000,85.000000,33.000000,70.000000,71786.000000,4258.942500,847.985000,7.000000,1.000000
max,2019.000000,8.199552e+08,70.000000,5600.000000,18991.510000,3537.000000,1.000000,1.000000,1.000000,1.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,230952.000000,73955.000000,218306.200000,3085.000000,1.000000

In [ ]:
# Checking value counts of relevant variables and plotting
print(df['school_year'].value_counts(), end = '\n\n')# Fairly uniform
sns.countplot(x='school_year', data=df)

In [ ]:
print(df['b_census_urbanicity'].value_counts(), end = '\n\n') 
sns.countplot(x='b_census_urbanicity', data=df)

In [ ]:
print(df['indicator_qty_dcr'].value_counts(), end = '\n\n') 
sns.countplot(x='indicator_qty_dcr', data=df)

In [ ]:
# Analysing building data with missing revenue_ed
missing_df = df[df['revenue_ed_group'].isna()]

In [ ]:
#Check which buildings dont have info for all three years
#Check if the revenue_ed variable is correlated with paid quantity or chg_pd_qty
#Check if